body{
	background-image: url(img/fondo.png);
	background-color: #dbe3e2;
	background-attachment: fixed;
	background-repeat: repeat;
	background-position: top center;
	overflow-y: scroll;
	overflow-x: hidden;
}

.titleArea{
    border: 0px solid;
    background-color: #D7D7D7;
    background-repeat: no-repeat;
    font-family:GillSansMT;
    font-size:25px;
    box-shadow: 0px 2px 10px #B5C1C5, 0 0 0 2px #EEEEEE inset; 
    
    width: 68%;
    opacity: .90;
    filter:alpha(opacity=90); 
    padding-top:10px;
    padding-top:10px;
    padding-bottom:10px;
    padding-right:10px;
    padding-left:18px; 
}


.historia{
    background-color: #D7D7D7;  
    padding: 30px 30px;
}

.historia p{
	color: #3F3F3F; 
	font-size: 22px;
	text-align : justify;
}

.marco{
	background-color: #00b3b3;
    width: 68%;
    opacity: .90;
    filter:alpha(opacity=90); 
    padding-top:20px;
    padding-bottom:20px;
    padding-right:20px;
    padding-left:20px; 
}

.mision p{
	font-size: 20px;
}
.mision .inicial{
	font-size: 20px; 
}
.mision p label{
	font-size: 30px; 
	color: white;
}


@media (min-width: 460px) and (max-width: 749px) {
	.col-ajuste{
		width: 50%;
		position: relative;
		  min-height: 1px;
		  padding-right: 15px;
		  padding-left: 15px;
		  float: left;

	}
}
@media (min-width: 767px) and (max-width: 980px) {
	.ajuste-marco p{
		font-size: 16px
	} 
	.mision .inicial{
		font-size: 16px;
	}
	.mision p label{
		font-size: 18px; 
		color: white;
	}
}

@media (max-width: 550px) {
	.ajuste-marco p{
		font-size: 14px
	}
	
	.mision .inicial{
		font-size: 14px;
	}
	.mision p label{
		font-size: 16px; 
		color: white;
	}
}

