/* -- START : Parallax quote */
.inspirational-quote-row,
.inspirational-quote-row .section-row {
	z-index: 4;
	height: 300px;
	}

	.inspirational-quote-row .section-row {
		display: table;
		}

.inspirational-quote-row .quote-text,
.inspirational-quote-row .author {
	text-align: center;
	margin: 0 auto;
	}

	.inspirational-quote-row .featured {
		display: table-cell;
		vertical-align: middle;
		}

.inspirational-quote-row .quote-text {
	font-size: 21px;
	line-height: 26px;
	width: 250px;
	bottom: 125px;
	}

.inspirational-quote-row .author {
	font-size: 15px;
	margin: 10px auto 0;

	bottom: 100px
	}
	
/* Coxy... */
.inspirational-quote-row { 
	background-size: cover; 
	background-attachment: scroll;  
	}
	
@media only screen and (min-width: 767px) {
.parallax.inspirational-quote-row {
	/*background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: right center;
	background-size: cover;
	*/
	}

	.inspirational-quote-row,
	.inspirational-quote-row .section-row {
		height: 400px;
		}

	.inspirational-quote-row .quote-text {
		font-size: 36px;
		line-height: 44px;
		}

	.inspirational-quote-row .author {
		font-size: 18px;
		line-height: 24px;
		}

	.inspirational-quote-row .quote-text,
	.inspirational-quote-row .author {
		width: 560px;
		}

	.inspirational-quote-row .featured {
		}
}

@media only screen and (min-width: 979px) {
	.inspirational-quote-row,
	.inspirational-quote-row .section-row {
 		height: 500px;
		}

	.inspirational-quote-row .quote-text {
		font-size: 36px;
		line-height: 44px;
		/*bottom: 230px;*/
		}

	.inspirational-quote-row .author {
		font-size: 18px;
		line-height: 24px;
		/*bottom: 190px*/
		}
	/* Coxy... */
	.inspirational-quote-row { background-attachment: fixed; background-size: cover; background-position: center center; }
	.touch .inspirational-quote-row { background-attachment: scroll; } /* Adding scroll to touch trims the background photo so it fits into the area. JY */
}


.touch .inspirational-quote-row {
	
	/* COXY Removed
	background-size: 100% auto;
	background-attachment: inherit;
	*/
}
/* -- END : Parallax quote */