.carousel.section-row {
	padding: 50px 0;
	}

@media only screen and (min-width: 767px) {
	.carousel.section-row {
		padding: 100px 0;
		}
}

/* - START : Media Items */
.media-gallery {
	position: relative;
	}

	.media-gallery .pagination {
		/*width: 30px;*/
		margin: 45px 0 0 0;
		height: 50px;
		}

		.pagination {
			width: 30px;
		}

	.media-position {
		overflow: hidden;
		margin: 0 auto;
		width: 320px;
		/*width: 260px;*/
		}

	.media-wrap {
		display: inline-block;
		margin: 0 auto;
		float: left;
		/*height: 280px;*/
		width: 260px;
		overflow: hidden;
		}

	.media h2 {
		text-align: center;
		margin: -8px 0 25px 0;
		display: block;
		font-size: 21px;
		line-height: 26px;
		}

.media .related-content-item img {
	-webkit-transition: 	all 0.4s ease 0s;	
	-moz-transition: 		all 0.4s ease 0s;
	-o-transition: 			all 0.4s ease 0s;	
	transition: 			all 0.4s ease 0s;	
	opacity: 1;
}

.media .related-content-item img:hover {
	opacity: 0.7;
}

.media-position .pagination {
	margin: 44px 0 0;
	}


@media only screen and (min-width: 767px) {
	.media h2 {
		margin: -10px 0 30px 0;
		font-size: 36px;
		line-height: 44px;
		}
}

.media .related-content-primary {
	/*height: 220px;*/
	margin-bottom: 5px;
	overflow: hidden;
	position: relative;

	-webkit-box-shadow: 0 0 3px #666;
	-moz-box-shadow: 0 0 3px #666;
	box-shadow: 0 0 3px #666;
	}

	.related-content-item {
		position: relative;
		float: left;
		display: inline;
		width: 130px;
		padding: 0 8px 0 7px;
		}

		.related-content-item p {
			margin: 0;
			display: block;
			width:  100%;
			float:  left;
			}

			.related-content-item p:last-child {
				margin: 0 0 10px 0;
				}

			.related-content-item .button {
				width: 100%;
				text-align: left;
				background: #a1a1a1;
				color:  #fff;
				line-height: 30px;
				height: 30px;
				padding: 0 10px;

				-webkit-border-radius: 5px;
				-moz-border-radius: 5px;
				border-radius: 5px;
			}

				.related-content-item .button img {
					vertical-align: middle;
					}

				.related-content-item .button span {
					color: #ccc;
					float: right;
					}

				.related-content-item .button:hover {
					background: #0092e6;
					}

					.related-content-item .button:hover span {
						color: #fff;
						}



@media only screen and (min-width: 767px) {
	.media-position {
		width: 768px;
		/*width: 696px;*/
		}

		.media-wrap {
			width: 696px;
			}

		.media .pagination {
			width: 36px;
			margin: 62px 0 0 0;
			}

			.related-content-item {
				width: 174px;
				padding: 0 7px;
				}
	.media .related-content-primary {
		margin-bottom: 8px;
	}
}

@media only screen and (min-width: 979px) {
	.media-position {
		width: 980px;
		/*width: 896px;*/
		}

		.media-wrap {
			width: 896px;
			}

		.media .pagination {
			width: 42px;
			margin: 77px 0 0 0;
			}

			.related-content-item {
				width: 224px;
				padding: 0 17px;
				}
}

@media only screen and (min-width: 1199px) {
	.media-position {
		/*width: 1200px;*/
		width: 100%;
		}

		.media-wrap {
			width: 1100px;
			}

		.media .pagination {
			width: 50px;
			}

			.related-content-item {
				width: 274px;
				padding: 0 42px;
				}
}

/* - END : Media Items */