/*

	HILLSONG CHURCH
	-----------------------
	Author 	: 	James Young

	CONTENTS
	--------
	- Text Colours
	- Background Colours

*/

/* START : Text Colours */
.a 		{ color: #000; }
.b 	{ color: #464646; }
.c 		{ color: #898989; }
.d		{ color: #999; }
.e 		{ color: #ccc; }
.f 		{ color: #ebebeb; }
.g		{ color: #fff; }
.h 	{ color: #b44f49; }
.j 		{ color: #cf1920; }
.k 	{ color: #f69679; }
.m	{ color: #699; }
.n 	{ color: #9cc; }
.p		{ color: #2c8eb7; }
.r 		{ color: #005481; }
.s 		{ color: #1479ac; }
.t  	{ color: #5cc0f9; }
.u  	{ color: #bcbcbc; }
.v		{ color: #151317; }
.w		{ color: #0092e6; }
/* END : Text Colours */

/* START : Border Colours */
.border-a 	{ border-color: #000; }
.border-b 	{ border-color: #464646; }
.border-c 	{ border-color: #898989; }
.border-d		{ border-color: #999; }
.border-e 	{ border-color: #ccc; }
.border-f 		{ border-color: #ebebeb; }
.border-g		{ border-color: #fff; }
.border-h 	{ border-color: #b44f49; }
.border-j 		{ border-color: #cf1920; }
.border-k 	{ border-color: #f69679; }
.border-m	{ border-color: #699; }
.border-n 	{ border-color: #9cc; }
.border-p		{ border-color: #2c8eb7; }
.border-r 		{ border-color: #005481; }
.border-s  	{ border-color: #1479ac; }
.border-t  	{ border-color: #5cc0f9; }
.border-u  	{ border-color: #bcbcbc; }
.border-v		{ border-color: #151317; }
.border-w		{ border-color: #0092e6; }
/* END : Border Colours */

/* START : Background Colours */
.background-a 	{ background: #000; }
.background-b 	{ background: #464646; }
.background-c 	{ background: #898989; }
.background-d		{ background: #999; }
.background-e 	{ background: #ccc; }
.background-f 	{ background: #ebebeb; }
.background-g		{ background: #fff; }
.background-h 	{ background: #b44f49; }
.background-j 		{ background: #cf1920; }
.background-k 	{ background: #f69679; }
.background-m	{ background: #699; }
.background-n 	{ background: #9cc; }
.background-p		{ background: #2c8eb7; }
.background-r 	{ background: #005481; }
.background-s  	{ background: #1479ac; }
.background-t  	{ background: #5cc0f9; }
.background-u  	{ background: #bcbcbc; }
.background-v		{ background: #151317; }
.background-w	{ background: #0092e6; }
/* END : Background Colours */

/* START : Tweet colours (Mashup) */
.tweet-colour-1, .module-item.tweet-colour-1 { background: #2b99c2; }
.tweet-colour-2, .module-item.tweet-colour-2 { background: #485db8; }
.tweet-colour-3, .module-item.tweet-colour-3 { background: #2cbcbf; }
.tweet-colour-4, .module-item.tweet-colour-4 { background: #f97161; }
.tweet-colour-5, .module-item.tweet-colour-5 { background: #654d9d; }
.tweet-colour-6, .module-item.tweet-colour-6 { background: #1bc48d; }
/* END : Tweet colours (Mashup) */

/* START : Grid labels (Mashup) */
.module-item-flag.label-a 	{ color: #f09e9e; }
.module-item-flag.label-b	{ color: #7fd8aa; }
/* END : Grid labels (Mashup) */