/**
* CORE COMPONENT STYLES
* ----------------------------------
*
* Hillsong Core CSS. These are the base styles of the site rows 
* These styles should be flexible and built with the intention that
* each component will be used in multiple places throughout the site.
*
* Authors: Hillsong Digital Team
*          - Jimmy Leggott // james.leggott@hillsong.com
*          - Paul Cox      // paul.cox@hillsong.com
*
*/


/*
//====================================================================
//====================================================================
//
//
// MOBILE (Less than 767px )
//
//
//====================================================================
//====================================================================
*/


/*
//---------------------------------------
// Fluid Videos (Mobile)
//---------------------------------------
*/

.fluidVideo {
	position: relative;
	padding-bottom: 52.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
	max-width: 100%;
	margin: 0 auto;
}

.fluidVideo iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.fluid-width-video-wrapper { width: 100%; margin: 0 auto; } /* Removes Black Bars on sides */

/*
//---------------------------------------
// Responsive Grid System (Mobile)
//---------------------------------------
*/
.grid { clear: both; padding: 0px; margin: 0px; margin-bottom: 30px; }
.grid:last-child { margin-bottom: 0px; }

.col { display: block; float:left; /*margin: 1% 0 0% 1.6%;*/ margin: 0px 0 30px 1.6%; }
.col:last-child { margin-bottom: 0px; }
.col p:last-child { margin-bottom: 0px; }

.row:before, .row:after { content:""; display:table; }
.row:after { clear:both; }

.colspan_1_of_1,
.colspan_2_of_2,
.colspan_1_of_2,
.colspan_3_of_3,
.colspan_2_of_3,
.colspan_1_of_3,
.colspan_4_of_4,
.colspan_3_of_4,
.colspan_2_of_4,
.colspan_1_of_4,
.colspan_5_of_5,
.colspan_4_of_5,
.colspan_3_of_5,
.colspan_2_of_5,
.colspan_1_of_5,
.colspan_6_of_6,
.colspan_5_of_6,
.colspan_4_of_6,
.colspan_3_of_6,
.colspan_2_of_6,
.colspan_1_of_6 {width: 100%; margin-left: 0; }

/*
//---------------------------------------
// Shadow (Mobile)
//---------------------------------------
*/
.shadow {
	-webkit-box-shadow: 0 0 3px #666;
	-moz-box-shadow: 0 0 3px #666;
	box-shadow: 0 0 3px #666;
}

/*
//---------------------------------------
// Clearfix (Mobile)
//---------------------------------------
*/
.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }

/*
//---------------------------------------
// Show & Hides (Mobile)
//---------------------------------------
*/
.hideonmobileshowontabletinline { display: none !important; }
.hideonmobileshowontabletblock { display: none !important; }
.hideonmobileshowondefaultinline { display: none !important; }
.hideonmobileshowondefaultblock { display: none !important; }

.hideontabletshowonmobileinline { display: inline !important; }
.hideontabletshowonmobileblock { display: block !important; }

/*
//---------------------------------------
// SLIDESHOWS (Mobile)
//---------------------------------------
*/

.slideshowwrap { position: relative; }

.slideshowwrap .slideshow { margin: 0 auto; }
.slideshowwrap .slideshow .slide { width: 100%; }
.slideshowwrap .slideshow .slide img { max-width: 100%; width: 100%; width: auto/9; height: auto; }

.slideshowControlDotsWrap { padding-top: 5px; height: 30px; }
.slideshowControlDotsWrap .slideshow-dots { color: #464646; font-size: 24px;	text-align: center; }
.slideshowControlDotsWrap .slideshow-dots .cycle-pager-active { opacity: 1; }
.slideshowControlDotsWrap .slideshow-dots span { padding-left: 2px; padding-right: 2px; cursor: pointer; opacity: 0.5; }
.slideshowControlDotsWrap .slideshow-dots span:hover { opacity: 0.75; }


.slideshowPrevButton,
.slideshowNextButton { display: none; position: absolute; top: 0; width: 40px; z-index: 800; height: 100%; cursor: pointer; opacity: 0.5; }
.slideshowPrevButton:hover,
.slideshowNextButton:hover { opacity: 1; }
.slideshowPrevButton { left: 0px; top:-15px; background: url('/assets/images/pagination-previous.png') 50% 50% no-repeat; }
.slideshowNextButton { right: 0px; top:-15px; background: url('/assets/images/pagination-next.png') 50% 50% no-repeat; }

.promotions .slideshowControlDotsWrap .slideshow-dots { color: #fff; }


/*
//---------------------------------------
// Collected Item
//---------------------------------------
*/

.collected-item {
	max-width: 145px;
	margin: 0 auto;
	background-color: #fff;
	
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	
	-webkit-box-shadow: 0 0 3px #999;
	-moz-box-shadow: 0 0 3px #999;
	box-shadow: 0 0 3px #999;
}

.collected-item .collected-img { width: 100%; height: 80px; overflow: hidden; }
.collected-item .collected-img img {
	-webkit-border-top-right-radius: 5px;
	-webkit-border-top-left-radius: 5px;
	-moz-border-top-right-radius: 5px;
	-moz-border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}

.collected-item .collected-text { padding: 10px; padding-top: 7px; height: 137px; overflow: hidden; /* SET HIEIGHT START HERE */ }
.collected-item .collected-text .collected-title { font-size: 12px; line-height: 18px; font-weight: 700; color: #464646; }
.collected-item .collected-text .collected-blurb { font-size: 12px; line-height: 18px; color: #585858; }

.collected-item .collected-by {
	background-color: #f3f3f3;
	padding: 10px; 
	padding-top: 7px;
	padding-left: 9px;
	height: 45px;
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-bottom-right-radius: 5px;
	-moz-border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}

.collected-item .details { display: inline-block; width: 92px; overflow: hidden; white-space: nowrap; }
.collected-item .author { font-size: 12px; line-height: 16px; font-weight: 700; }
.collected-item .author a { color: #464646; }

.collected-item .time { color: #898989; font-size: 12px; line-height: 16px; font-weight: 700; }
.collected-item .time img { width: 13px; height: 13px; margin-right: 10px; margin-top: 2px; }

.collected-item .avatar { display: inline-block; width: 30px; height: 30px; vertical-align: top; }


/*
//---------------------------------------
// Collected Row (Mobile)
//---------------------------------------
*/

.collectedrow {}
.collectedrow .section-row { padding-left: 10px; padding-right: 10px; }
.collectedrow .items { width: 310px; margin: 0 auto; }
.collectedrow .title { font-size: 12px; line-height: 16px; font-weight: 700; margin-bottom: 6px; }

.collectedrow .items .column { float: left; margin-right: 10px; margin-bottom: 10px; }
.collectedrow .items .column:last-child { display: none; }


/*
//---------------------------------------
// ROW: Defaults (Mobile)
//---------------------------------------
*/

.rowtitles { margin: 0 auto; margin-bottom: 20px; }

.rowtitle {
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	text-align: center;
	margin: 0;
}

.rowsubtitle {
	font-size: 21px;
	line-height: 26px;
	text-align: center;
	margin: 0;
}

.rowtext {
	font-size: 15px;
	line-height: 20px;
	text-align: center;
	margin: 0 auto;
	margin-bottom: 26px;
}

.rowtext p:last-child { margin-bottom: 0px; }

.rowbutton { text-align: center; margin-bottom: 30px; }
.rowbutton:last-child { margin-bottom: 0px; }


/*
//---------------------------------------
// COLUMN ROW (Mobile)
//---------------------------------------
*/

.columnrow {}



/*
//---------------------------------------
// COLUMN ROW: Text (Mobile)
//---------------------------------------
*/

.columnrow .columnrow-text { text-align: center; }
.columnrow .columnrow-text p:first-child { margin-top: -5px; }
.columnrow .columnrow-text .title {
	color: #464646;
	font-size: 15px;
	line-height: 20px;
	font-weight: 700;
	margin: 0 auto;
	margin-top: 14px;
	margin-bottom: 8px;
}
.columnrow .colspan_1_of_1 { width: 100%; }


/*
//---------------------------------------
// COLUMN ROW: Image (Mobile)
//---------------------------------------
*/

.columnrow .columnrow-img {}
.columnrow .columnrow-img .image { width: 100%; margin: 0 auto; }
.columnrow .columnrow-img img {
	max-width: 100%;
	width: 100%;
	width: auto/9;
	height: auto;
	-webkit-box-shadow: 0 0 3px #666;
	-moz-box-shadow: 0 0 3px #666;
	box-shadow: 0 0 3px #666;
}

.columnrow .columnrow-img .title {
	color: #464646;
	font-size: 15px;
	line-height: 20px;
	font-weight: 700;
	text-align: center;
	margin: 0 auto;
	margin-top: 14px;
	margin-bottom: 8px;
	display: none;
}

.columnrow .columnrow-img .text {
	text-align: center;
	margin-bottom: 13px;
	display: none;
}

.columnrow .columnrow-img .rowbutton { display: none; }

.columnrow .fluid-width-video-wrapper { width: 88.9%; }



/*
//---------------------------------------
// COLUMN ROW: Store Product (Mobile)
//---------------------------------------
*/

.columnrow .columnrow-product {}
.columnrow .columnrow-product .productwrap { max-width: 220px; margin: 0 auto; }
.columnrow .columnrow-product .image img {
	-webkit-box-shadow: 0 0 3px #666;
	-moz-box-shadow: 0 0 3px #666;
	box-shadow: 0 0 3px #666;
}
.columnrow .columnrow-product .title { 
	color: #464646; 
	font-size: 15px; 
	line-height: 20px; 
	font-weight: 700;
	text-align: left;
	margin-top: 4px;
	margin-bottom: 0px;
}

.columnrow .columnrow-product .productrelease { -webkit-box-shadow: 0 0 3px #666; -moz-box-shadow: 0 0 3px #666; box-shadow: 0 0 3px #666; }
.columnrow .columnrow-product .productrelease .image img { -webkit-box-shadow: 0 0 0px #666; -moz-box-shadow: 0 0 0px #666; box-shadow: 0 0 0px #666; }
.columnrow .columnrow-product .productrelease .text { color: #fff; text-align: center; font-weight: 700; margin-bottom: 7px; margin-top: 7px; }
.columnrow .columnrow-product .productrelease .links a { text-align: center;  }
.columnrow .columnrow-product .productrelease .links { text-align: center; padding-bottom: 5px;  }


/*
//---------------------------------------
// COLUMN ROW: Forms (Mobile)
//---------------------------------------
*/

.columnrow .columnrow-form {}
.columnrow .columnrow-form .form-wrap { width: 100%; margin: 0 auto; }
.columnrow .columnrow-form .form-item { margin-bottom: 18px; }
.columnrow .columnrow-form .form-item:last-child { margin-bottom: 0px; }

.columnrow .columnrow-form label { color: #898989; text-align: left; font-size: 13px; display: block; }

.columnrow .columnrow-form select { background:url(/assets/images/webkit-select.png) right center no-repeat; }
.columnrow .columnrow-form input[type=text],
.columnrow .columnrow-form input[type=date],
.columnrow .columnrow-form input[type=email],
.columnrow .columnrow-form input[type=password],
.columnrow .columnrow-form input[type=number],
.columnrow .columnrow-form textarea,
.columnrow .columnrow-form select {
	background-color: #ebebeb;
	border: 0px; 
	font-size: 15px;
	line-height: 20px;
	padding:9px 10px;
	width: 100%;
	margin-bottom: 0px;
	
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	
	-webkit-appearance: none;		
	-moz-appearance: none;
	appearance: none;
}


.columnrow .columnrow-form input:focus,
.columnrow .columnrow-form textarea:focus,
.columnrow .columnrow-form select:focus { outline: none; }

.background-f.columnrow .columnrow-form input,
.background-f.columnrow .columnrow-form textarea,
.background-f.columnrow .columnrow-form select { border: 1px solid #CDCDCD; }

.columnrow .columnrow-form .checkbox input[type=checkbox],
.columnrow .columnrow-form .radio input[type=radio] { margin-right: 10px; }

.columnrow .columnrow-form .option-text { font-size: 13px; color: #898989; cursor: pointer; display: inline; }

.columnrow .columnrow-form .form-textarea { margin-bottom: 14px; }
.columnrow .columnrow-form .form-button { text-align: center; }

.columnrow .columnrow-form .form-nolabels label { display: none; }
.columnrow .columnrow-form .form-nolabels .form-checkbox label,
.columnrow .columnrow-form .form-nolabels .form-radio label { display: inline; }
.columnrow .columnrow-form .form-nolabels .option-text { display: inline; }


.columnrow .columnrow-form .title {
	color: #464646;
	font-size: 15px;
	line-height: 20px;
	font-weight: 700;
	text-align: center;
	margin: 0 auto;
	margin-top: 14px;
	margin-bottom: 8px;
}

.columnrow .columnrow-form .text {
	text-align: center;
	margin-bottom: 13px;
}


/*
//---------------------------------------
// COLUMN ROW: Email Capture
//---------------------------------------
*/


.columnrow .columnrow-email { text-align: center; }
.columnrow .columnrow-email .title {
	color: #464646;
	font-size: 15px;
	line-height: 20px;
	font-weight: 700;
	text-align: center;
	margin: 0 auto;
	margin-top: 14px;
	margin-bottom: 8px;
}
.columnrow .columnrow-email .text { text-align: center; margin-bottom: 13px; }

.columnrow .columnrow-email form input[type=email] {
	font-size: 21px;
	line-height: 25px;
	color: #464646;
	border: 0px;
	border-bottom: 2px solid #ccc;
	padding-bottom: 7px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	-webkit-transition: all 0.4s ease 0s;	
	-moz-transition: all 0.4s ease 0s;
	-o-transition: all 0.4s ease 0s;	
	transition: all 0.4s ease 0s;
	
	width: 100%;
	margin-bottom: 20px;
	margin-right: 0px;  
}

.columnrow .columnrow-email form input[type=email]:hover { border-bottom: 2px solid #999; }
.columnrow .columnrow-email form input[type=email]:focus { color: #464646; border-bottom: 2px solid #999; }
.columnrow .columnrow-email form input[type=email]::-webkit-input-placeholder { color: #ccc; }
.columnrow .columnrow-email form input[type=email]:-moz-placeholder { color: #ccc; }
.columnrow .columnrow-email form input[type=email]::-moz-placeholder { color: #ccc; }
.columnrow .columnrow-email form input[type=email]:-ms-input-placeholder { color: #ccc; }
.columnrow .columnrow-email form input[type=email]:focus { outline: none; }

.columnrow .columnrow-email form button[disabled=disabled] { color: #ebebeb; border-color: #ebebeb; }

.columnrow .columnrow-email .email-loader { display: none; }
.columnrow .columnrow-email .email-loader img { width: 40px; height: 40px; }
.columnrow .columnrow-email .email-msg { color: #464646; font-weight: 700; display: none; }
.columnrow .columnrow-email .email-msg .email-error { display: none; }
.columnrow .columnrow-email .email-msg .email-success { display: none; }

.background-f.columnrow .columnrow-email form input[type=email] { background-color: #ebebeb; }
.background-f.columnrow .columnrow-email form input[type=email]::-webkit-input-placeholder { color: #a7a7a7; }
.background-f.columnrow .columnrow-email form input[type=email]:-moz-placeholder { color: #a7a7a7; }
.background-f.columnrow .columnrow-email form input[type=email]::-moz-placeholder { color: #a7a7a7; }
.background-f.columnrow .columnrow-email form input[type=email]:-ms-input-placeholder { color: #a7a7a7; }
.background-f.columnrow .columnrow-email form button[disabled=disabled] {  color: #c9c9c9; border-color: #c9c9c9; }

/*
//---------------------------------------
// COLUMN ROW: Collapsblt Text
//---------------------------------------
*/

.columnrow .columnrow-collapsible { margin-top: 0px; }

.columnrow .columnrow-collapsible .icon {
	display: inline-block;
	width: 13px;
	height: 13px;
	cursor: pointer;
	opacity: 1;
	margin-right: 10px;
	-webkit-transition: all 0.4s ease 0s;	
	-moz-transition: all 0.4s ease 0s;
	-o-transition: all 0.4s ease 0s;	
	transition: all 0.4s ease 0s;
}

.columnrow .columnrow-collapsible .icon.opened {
	-moz-transform:rotate(45deg);
	-webkit-transform:rotate(45deg);
	-o-transform:rotate(45deg);
	-ms-transform:rotate(45deg);
	filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=0.5);
}
.columnrow .columnrow-collapsible .icon img { max-width:100%; width: 100%; height: auto; }

.columnrow .columnrow-collapsible .collapse-content {  margin-bottom: 11px; }
.columnrow .columnrow-collapsible .collapse-content:last-child { margin-bottom: 0px; }

.columnrow .columnrow-collapsible .title {
	color: #464646;
	font-size: 15px;
	line-height: 20px;
	font-weight: 700;
	text-align: left;
	margin: 0 auto;
	/*margin-top: 14px;*/
	/*margin-bottom: 8px;*/
	cursor: pointer;
	opacity: 1;
	-webkit-transition: all 0.4s ease 0s;	
	-moz-transition: all 0.4s ease 0s;
	-o-transition: all 0.4s ease 0s;	
	transition: all 0.4s ease 0s;
}

.columnrow .columnrow-collapsible .title:hover { opacity: 0.75; }


.columnrow .columnrow-collapsible .reveal { 
	display: none;
	overflow: hidden;
	opacity: 0;
	margin-left: 27px;
	margin-top: 8px;
	-webkit-transition: all 0.4s ease 0s;	
	-moz-transition: all 0.4s ease 0s;
	-o-transition: all 0.4s ease 0s;	
	transition: all 0.4s ease 0s;
}
.columnrow .columnrow-collapsible .reveal.opened { display: block !important; opacity: 1; }
.columnrow .columnrow-collapsible .reveal p { margin: 0 0 10px 0; }
.columnrow .columnrow-collapsible .reveal p:last-child { margin-bottom: 0px; }


/*
//---------------------------------------
// COLUMN ROW: Table
//---------------------------------------
*/

.columnrow .columnrow-table {}
.columnrow .columnrow-table table { width: 100%; margin: 0 auto; }
.columnrow .columnrow-table table th { text-align: left; border-bottom: 4px solid #464646; padding-bottom: 10px; vertical-align: bottom; }
.columnrow .columnrow-table table td { text-align: left; padding-top: 10px; padding-bottom: 10px; }

/*
//---------------------------------------
// VIDEO BG ROW
//---------------------------------------
*/

.videobgrow {}
.videobgrow .section-row { width: 100%; padding: 0px; height: 500px; overflow: hidden; }
.videobgrow .section-row #video { width: 100%; }

/*
//====================================================================
//====================================================================
//
//
// TABLET (Bigger than 767px )
//
//
//====================================================================
//====================================================================
*/
@media only screen and (min-width: 767px) {
	
	/*
	//---------------------------------------
	// Responsive Grid System (Tablet)
	//---------------------------------------
	*/
	.grid { clear: both; padding: 0px; margin: 0px; margin-bottom: 33px; }
	.grid:last-child { margin-bottom: 0px; }
	
	.col { display: block; float:left; margin: 1% 0 0% 1.6%; }

	.col:first-child { margin-left: 0; }
	
	.colspan_2_of_2 { width: 100%; }
	.colspan_1_of_2 { width: 49.2%; }
	
	.colspan_3_of_3 { width: 100%; }
	.colspan_2_of_3 { width: 66.1%; }
	.colspan_1_of_3 { width: 32.25%; }
	
	.colspan_4_of_4 { width: 100%; }
	.colspan_3_of_4 { width: 74.6%; }
	.colspan_2_of_4 { width: 49.2%; }
	.colspan_1_of_4 { width: 23.8%; }
	
	.colspan_5_of_5 { width: 100%; }
	.colspan_4_of_5 { width: 79.68%; }
	.colspan_3_of_5 { width: 59.36%; }
	.colspan_2_of_5 { width: 39.04%; }
	.colspan_1_of_5 { width: 18.72%; }
	
	
	.colspan_6_of_6 { width: 100%; }
	.colspan_5_of_6 { width: 83.06%; }
	.colspan_4_of_6 { width: 66.13%; }
	.colspan_3_of_6 { width: 49.2%; }
	.colspan_2_of_6 { width: 32.26%; }
	.colspan_1_of_6 { width: 15.33%; }
	
	.row:before, .row:after { content:""; display:table; }
	.row:after { clear:both; }
	
	
	
	/*
	//---------------------------------------
	// Show & Hides (Tablet)
	//---------------------------------------
	*/
	.hideonmobileshowontabletinline { display: inline !important; }
	.hideonmobileshowontabletblock { display: block !important; }
	
	.hideontabletshowonmobileinline { display: none !important; }
	.hideontabletshowonmobileblock { display: none !important; }
	
	
	/*
	//---------------------------------------
	// Collected Item
	//---------------------------------------
	*/
	
	.collected-item { max-width: 220px; }
	
	.collected-item .collected-img { height: 124px; }
	
	.collected-item .collected-text { padding: 16px; padding-top: 11px; height: 160px;  }
	.collected-item .collected-text .collected-title { font-size: 18px; line-height: 26px; }
	.collected-item .collected-text .collected-blurb { font-size: 15px; line-height: 20px; height: 80px; overflow: hidden; }
	
	.collected-item .collected-by { height: 65px; padding-top: 10px; padding-left: 17px; }
	
	.collected-item .details { width: 144px; }
	.collected-item .author { font-size: 15px; line-height: 20px; }
	
	.collected-item .time { color: #898989; font-size: 15px; line-height: 20px; }
	.collected-item .time img { width: 16px; height: 16px; }
	
	.collected-item .avatar { display: inline-block; width: 45px; height: 45px; vertical-align: top; }
	
	/*
	//---------------------------------------
	// Collected Row (Tablet)
	//---------------------------------------
	*/
	
	.collectedrow {}
	.collectedrow .section-row { padding-left: 20px; padding-right: 20px; }
	.collectedrow .title { font-size: 18px; line-height: 24px; margin-bottom: 14px; }
	.collectedrow .items { width: 750px; }
	/*.collectedrow .items .column:nth-child(4n+1) { display: none; }*/
	.collectedrow .items .column:nth-child(4n+0) { display: none; }
	.collectedrow .items .column { margin-right: 30px; margin-bottom: 0px; }
	
	/*
	//---------------------------------------
	// ROW: Defaults (Tablet)
	//---------------------------------------
	*/

	.rowtitles {
		width: 560px;
		margin-bottom: 24px;
	}
	
	.rowtitle {
		font-size: 36px;
		line-height: 44px;
	}
	
	.rowsubtitle {
		font-size: 36px;
		line-height: 44px;
	}
	
	.rowtext {
		font-size: 15px;
		line-height: 24px;
		margin-bottom: 34px;
		width: 590px;
	}
	
	.rowbutton { margin-bottom: 33px; }
	.rowbutton:last-child { margin-bottom: 0px; }
	
	/*
	//---------------------------------------
	// COLUMN ROW (Tablet)
	//---------------------------------------
	*/
	.columnrow .col { margin: 1% 0 0% 5.6%; }
	.columnrow .col:first-child { margin-left: 0; }
	
	.columnrow .colspan_2_of_2 { width: 100%; }
	.columnrow .colspan_1_of_2 { width: 47.2%; }
	
	.columnrow .colspan_3_of_3 { width: 100%; }
	.columnrow .colspan_2_of_3 { width: 64.8%; }
	.columnrow .colspan_1_of_3 { width: 29.6%; }
	
	.columnrow .colspan_4_of_4 { width: 100%; }
	.columnrow .colspan_3_of_4 { width: 73.6%; }
	.columnrow .colspan_2_of_4 { width: 47.2%; }
	.columnrow .colspan_1_of_4 { width: 20.8%; }
	
	.columnrow .colspan_5_of_5 { width: 100%; }
	.columnrow .colspan_4_of_5 { width: 78.88%; }
	.columnrow .colspan_3_of_5 { width: 57.76%; }
	.columnrow .colspan_2_of_5 { width: 36.64%; }
	.columnrow .colspan_1_of_5 { width: 15.52%; }
	
	.columnrow .colspan_6_of_6 { width: 100%; }
	.columnrow .colspan_5_of_6 { width: 82.4%; }
	.columnrow .colspan_4_of_6 { width: 64.8%; }
	.columnrow .colspan_3_of_6 { width: 47.2%; }
	.columnrow .colspan_2_of_6 { width: 29.6%; }
	.columnrow .colspan_1_of_6 { width: 12%; }
	

	/*
	//---------------------------------------
	// COLUMN ROW: Text (Tablet)
	//---------------------------------------
	*/
	
	.columnrow .columnrow-text { text-align: left; }
	.columnrow .columnrow-text p { margin: 0 0 30px 0; }
	.columnrow .columnrow-text p:last-child { margin-bottom: 0px; }
	.columnrow .columnrow-text p:first-child { margin-top: -10px; }


	/*
	//---------------------------------------
	// COLUMN ROW: Image (Tablet)
	//---------------------------------------
	*/
	
	.columnrow .columnrow-img .image { width: 75%; }
	.columnrow .columnrow-img .title { display: block; }
	.columnrow .columnrow-img .text { display: block; }
	.columnrow .columnrow-img .rowbutton { display: block; }
	
	.columnrow .columnrow-img.colspan_1_of_4 { margin-bottom: 30px; }
	.columnrow .columnrow-img.colspan_1_of_4 { width: 47.2%; }
	.columnrow .columnrow-img.colspan_1_of_4:nth-child(2n+1) { clear: both; margin-left: 0; }
	
	
	
	/*
	//---------------------------------------
	// SLIDESHOWS // Column Rows Slideshow (Tablet)
	//---------------------------------------
	*/
	.slideshowwrap .slideshow { width: 83%; }
	.slideshowPrevButton,
	.slideshowNextButton { display: block; }
	
	.columnrow .colspan_1_of_4 .slideshowPrevButton,
	.columnrow .colspan_1_of_4 .slideshowNextButton { display: none; }
	.columnrow .colspan_1_of_4 .slideshow { width: 100%; }
	.columnrow .colspan_2_of_4 .slideshow { width: 64.5%; }
	.columnrow .colspan_3_of_4 .slideshow { width: 77.5%; }
	.columnrow .colspan_1_of_3 .slideshowPrevButton,
	.columnrow .colspan_1_of_3 .slideshowNextButton { display: none; }
	.columnrow .colspan_1_of_3 .slideshow { width: 100%; }
	.columnrow .colspan_2_of_3 .slideshow { width: 74%; }
	.columnrow .colspan_1_of_2 .slideshow { width: 64%; }
	.columnrow .colspan_1_of_1 .slideshow { width: 83%; }
	
	/*
	//---------------------------------------
	// COLUMN ROW: Video Slideshow (Tablet)
	//---------------------------------------
	*/
	
	.columnrow .colspan_2_of_4.columnrow-video .slideshow { width: 72.5%; }
	.columnrow .colspan_3_of_4.columnrow-video .slideshow { width: 87.5%; }
	.columnrow .colspan_2_of_3.columnrow-video .slideshow { width: 83.5%; }
	.columnrow .colspan_1_of_2.columnrow-video .slideshow { width: 72%; }
	.columnrow .colspan_1_of_1.columnrow-video .slideshow { width: 93.5%; }
	

	/*
	//---------------------------------------
	// COLUMN ROW: Store Product (Tablet)
	//---------------------------------------
	*/
	
	.columnrow .columnrow-product .title { margin-top: 9px; margin-bottom: 3px; }
	
	.columnrow .colspan_1_of_4.columnrow-product .productrelease .text,
	.columnrow .colspan_1_of_3.columnrow-product .productrelease .text { padding-bottom: 7px;}
	.columnrow .colspan_1_of_4.columnrow-product .productrelease .links,
	.columnrow .colspan_1_of_3.columnrow-product .productrelease .links { display: none;  }
	
	/*
	//---------------------------------------
	// COLUMN ROW: Forms (Tablet)
	//---------------------------------------
	*/
	
	.columnrow .columnrow-form label { font-size: 15px; }
	
	.columnrow .colspan_1_of_1.columnrow-form .form-wrap { width: 75%; }
	
	
	/*
	//---------------------------------------
	// COLUMN ROW: Email Capture
	//---------------------------------------
	*/
	
	.columnrow .colspan_1_of_1.columnrow-email form input[type=email] { width:270px; margin-right: 10px; }
	
	/*
	//---------------------------------------
	// COLUMN ROW: Collected Item (Tablet)
	//---------------------------------------
	*/
	
	.columnrow .colspan_1_of_4.columnrow-collected .collected-item .details {  }
	
	
	.columnrow .colspan_1_of_4.columnrow-collected .collected-item .collected-text { padding: 10px; padding-top: 7px; }
	.columnrow .colspan_1_of_4.columnrow-collected .collected-item .collected-text .collected-title { font-size: 12px; line-height: 18px; font-weight: 700; color: #464646; }
	.columnrow .colspan_1_of_4.columnrow-collected .collected-item .collected-text .collected-blurb { font-size: 12px; line-height: 18px; color: #585858; }
	
	.columnrow .colspan_1_of_4.columnrow-collected .collected-item .collected-by {
		background-color: #f3f3f3;
		padding: 10px; 
		padding-top: 7px;
		padding-left: 9px;
		height: 45px;
		-webkit-border-bottom-right-radius: 5px;
		-webkit-border-bottom-left-radius: 5px;
		-moz-border-bottom-right-radius: 5px;
		-moz-border-bottom-left-radius: 5px;
		border-bottom-right-radius: 5px;
		border-bottom-left-radius: 5px;
	}
	
	.columnrow .colspan_1_of_4.columnrow-collected .collected-item .details { display: inline-block; width: 90px; }
	.columnrow .colspan_1_of_4.columnrow-collected .collected-item .author { font-size: 12px; line-height: 16px; font-weight: 700; }
	.columnrow .colspan_1_of_4.columnrow-collected .collected-item .author a { color: #464646; }
	
	.columnrow .colspan_1_of_4.columnrow-collected .collected-item .time { color: #898989; font-size: 12px; line-height: 16px; font-weight: 700; }
	.columnrow .colspan_1_of_4.columnrow-collected .collected-item .time img { width: 13px; height: 13px; margin-right: 10px; margin-top: 2px; }
	
	.columnrow .colspan_1_of_4.columnrow-collected .collected-item .avatar { display: inline-block; width: 30px; height: 30px; vertical-align: top; }
	
	
	.columnrow .colspan_1_of_3.columnrow-collected .collected-item .details { width: 127px; }

}



		

/*
//====================================================================
//====================================================================
//
//
// DEFAULT (Bigger than 979px )
//
//
//====================================================================
//====================================================================
*/
@media only screen and (min-width: 979px) {
	
	/*
	//---------------------------------------
	// Show & Hides (Default)
	//---------------------------------------
	*/
	.hideonmobileshowondefaultinline { display: inline !important; }
	.hideonmobileshowondefaultblock { display: block !important; }
	
	/*
	//---------------------------------------
	// Collected Row (Default)
	//---------------------------------------
	*/
	
	.collectedrow .items { width: 960px; }
	.collectedrow .items .column:nth-child(4n+0) { display: block; }
	.collectedrow .items .column { margin-right: 20px; margin-bottom: 0px; }
	
	
	/*
	//---------------------------------------
	// ROW: Defaults (Default)
	//---------------------------------------
	*/

	.rowtitles { width: 800px; }

	.rowtext { width: 590px; }
	
	/*
	//---------------------------------------
	// COLUMN ROW: Image (Default)
	//---------------------------------------
	*/
	
	.columnrow .columnrow-img .image { width: 100%; }
	.columnrow .columnrow-img.colspan_1_of_2 .image { width: 65%; }
	.columnrow .columnrow-img.colspan_1_of_4 { width: 20.8%; }
	.columnrow .columnrow-img.colspan_1_of_4:first-child { margin-left: 0px !important; }
	.columnrow .columnrow-img.colspan_1_of_4:nth-child(2n+1) { clear: initial; margin-left: 5.6%; }
	
	
	/*
	//---------------------------------------
	// SLIDESHOWS // Column Rows Slideshow (Default)
	//---------------------------------------
	*/
	
	.slideshowwrap .slideshow { width: 85%; }
	
	.columnrow .colspan_2_of_4 .slideshow { width: 68%; }
	.columnrow .colspan_3_of_4 .slideshow { width: 79.5%; }
	/*.columnrow .colspan_1_of_3 .slideshowPrevButton,
	.columnrow .colspan_1_of_3 .slideshowNextButton { display: block; }*/
	.columnrow .colspan_1_of_3 .slideshow { width: 100%; /*49%*/ }
	.columnrow .colspan_2_of_3 .slideshow { width: 77%; }
	.columnrow .colspan_1_of_2 .slideshow { width: 68%; }
	.columnrow .colspan_1_of_1 .slideshow { width: 78.5%; }
	.columnrow .colspan_1_of_1 .slideshowwrap { width: 70%; margin: 0 auto; }
	
	
	/*
	//---------------------------------------
	// COLUMN ROW: Video Slideshow (Default)
	//---------------------------------------
	*/
	
	.columnrow .colspan_2_of_4.columnrow-video .slideshow { width: 77%; }
	.columnrow .colspan_3_of_4.columnrow-video .slideshow { width: 89.5%; }
	/*.columnrow .colspan_1_of_3.columnrow-video .slideshow { width: 56%; }*/
	.columnrow .colspan_2_of_3.columnrow-video .slideshow { width: 86.5%; }
	.columnrow .colspan_1_of_2.columnrow-video .slideshow { width: 77%; }
	.columnrow .colspan_1_of_1.columnrow-video .slideshow { width: 88.5%; }
	
	/*
	//---------------------------------------
	// COLUMN ROW: Store Product (Default)
	//---------------------------------------
	*/
		
	.columnrow .colspan_1_of_3.columnrow-product .productrelease .text { padding-bottom: 0px;}
	.columnrow .colspan_1_of_3.columnrow-product .productrelease .links { display: block;  }
	
	/*
	//---------------------------------------
	// COLUMN ROW: Email Capture
	//---------------------------------------
	*/
	
	.columnrow .colspan_1_of_1.columnrow-email form input[type=email] { width:370px; margin-right: 10px; }
	.columnrow .colspan_1_of_2.columnrow-email form input[type=email] { width: 50%; margin-right: 10px; }
	
	/*
	//---------------------------------------
	// COLUMN ROW: Collected Item (Default)
	//---------------------------------------
	*/
	
	.columnrow .colspan_1_of_3.columnrow-collected .collected-item .details { width: 144px; }
	
	.columnrow .colspan_1_of_4.columnrow-collected .collected-item { max-width: 220px; }
	
	.columnrow .colspan_1_of_4.columnrow-collected .collected-item.collected-text { padding: 16px; padding-top: 11px; }
	.columnrow .colspan_1_of_4.columnrow-collected .collected-item .collected-text .collected-title { font-size: 18px; line-height: 26px; }
	.columnrow .colspan_1_of_4.columnrow-collected .collected-item .collected-text .collected-blurb { font-size: 15px; line-height: 20px; }
	
	.columnrow .colspan_1_of_4.columnrow-collected .collected-item .collected-by { height: 65px; padding-top: 10px; padding-left: 10px; }
	
	.columnrow .colspan_1_of_4.columnrow-collected .collected-item .details { width: 118px; }
	.columnrow .colspan_1_of_4.columnrow-collected .collected-item .author { font-size: 15px; line-height: 20px; }
	
	.columnrow .colspan_1_of_4.columnrow-collected .collected-item .time { color: #898989; font-size: 15px; line-height: 20px; }
	.columnrow .colspan_1_of_4.columnrow-collected .collected-item .time img { width: 16px; height: 16px; }
	
	.columnrow .colspan_1_of_4.columnrow-collected .collected-item .avatar { display: inline-block; width: 45px; height: 45px; vertical-align: top; }
	

}


/*
//====================================================================
//====================================================================
//
//
// LARGE SCREEN ( Bigger than 1199px )
//
//
//====================================================================
//====================================================================
*/
@media only screen and (min-width:1199px)
{
	
	/*
	//---------------------------------------
	// Collected Row (Default)
	//---------------------------------------
	*/
	
	.collectedrow .section-row { padding-left: 10px; padding-right: 10px; }
	.collectedrow .items { width: 1190px; }
	.collectedrow .items .column:last-child { margin-right: 0px; display: block; }
	.collectedrow .items .column { margin-right: 20px; }
	
	/*
	//---------------------------------------
	// ROW: Defaults (Large)
	//---------------------------------------
	*/
	
	.rowtext { width: 800px; }
	
	
	/*
	//---------------------------------------
	// SLIDESHOWS // Column Rows Slideshow (Large)
	//---------------------------------------
	*/
		
	.columnrow .colspan_2_of_4 .slideshow { width: 74.5%; }
	.columnrow .colspan_3_of_4 .slideshow { width: 83.8%; }
	.columnrow .colspan_2_of_3 .slideshow { width: 81.5%; }
	.columnrow .colspan_1_of_2 .slideshow { width: 74.5%; }
	.columnrow .colspan_1_of_1 .slideshow { width: 78.5%; }
	.columnrow .colspan_1_of_1 .slideshowwrap { width: 83%; }
	
	/*
	//---------------------------------------
	// COLUMN ROW: Video Slideshow (Large)
	//---------------------------------------
	*/
	
	.columnrow .colspan_2_of_4.columnrow-video .slideshow { width: 88.5%; }
	.columnrow .colspan_3_of_4.columnrow-video .slideshow { width: 94%; }
	.columnrow .colspan_2_of_3.columnrow-video .slideshow { width: 91.5%; }
	.columnrow .colspan_1_of_2.columnrow-video .slideshow { width: 83.5%; }
	.columnrow .colspan_1_of_1.columnrow-video .slideshow { width: 96.5%; }
	
	/*
	//---------------------------------------
	// COLUMN ROW: Store Product (Large)
	//---------------------------------------
	*/
	
	.columnrow .colspan_1_of_4.columnrow-product .productrelease .text { padding-bottom: 0px;}
	.columnrow .colspan_1_of_4.columnrow-product .productrelease .links { display: block; }
	
	/*
	//---------------------------------------
	// COLUMN ROW: Collected Item (Large)
	//---------------------------------------
	*/
	.columnrow .colspan_1_of_4.columnrow-collected .collected-item .details { width: 151px; }
	
}

