/*
	HILLSONG CHURCH
	-----------------------

	CONTENTS
	-------------
	- Layout Framework	
	- Grid modules
	
*/


/* START : Layout Framework */
.section-wrap {
	width: 100%;
	padding: 0;
	margin: 0;
	clear: both;
	display: block;
	
	border-left: 0;
	border-right: 0;
	}

.section-row:before,
.section-row:after{ content:"";display:table; }
.section-row:after{ clear:both; }
.section-row{ zoom:1; }

	.section-row {
		margin: 0 auto;
		padding: 53px 20px; 
		max-width: 1200px;
		position: relative;
		}	
		
		.section-row.no-pad {
			padding: 0;
			}
			
			.section-row.no-pad.tb {
				padding: 53px 20px;
				padding-top: 0;
				padding-bottom: 0;
				}
				
			.section-row.no-pad.lr {
				padding: 53px 20px;
				padding-left: 0;
				padding-right: 0;
				}
			
		.section-row.no-pad-bottom {
			padding-bottom: 0;
			}			
			
		.section-row.full-width {
			max-width: none;
			width: 100%;
			}

/*JML*/
.mashup-grid .module-blog-post p.module-item-intro {
	height: 60px;
	margin-bottom: 6px;
	overflow: hidden;
}

.one-column-content-row.background-w a.button {
	border-color: #91d7ff;
	color: #91d7ff;
}

.one-column-content-row.background-w a.button:hover {
	border-color: white;
	color: white;
}

@media only screen and (min-width: 767px) { 
.section-row {
	padding: 100px 40px;
	width: 768px;
	}

.section-row.item-gallery,
.section-row.personnel {
	padding: 50px 20px;
	}
}

@media only screen and (min-width: 979px) {
.section-row {
	width: 980px;
	}
}

@media only screen and (min-width: 1199px) {
.section-row {
	width: 1200px;
	}
}
/* END : Layout Framework */



/* START : Grid Modules */
.module-grid,
.overlay-content {
	width: 302px;
	margin: 0 auto;
	padding: 0;
	position: relative;
	}
	
	.overlay-content {
		background: #fff;
		width: 320px;
		padding: 10px;
		margin: 0 auto 50px;
		z-index: 10001; /* To appear above global nav tab on small screen */
		}
	
@media only screen and (min-width: 767px) {
.module-grid {
	width: 768px;
	padding: 0 20px;
	/*border: 1px solid red;*/
	}
}	

@media only screen and (min-width: 979px) {
.module-grid {
	width: 980px;
	padding: 0 20px;
	}
}	

@media only screen and (min-width: 1199px) {
.module-grid {
	width: 1188px;
	padding: 0;
	}
}	


.module-grid-row-wrap {
	overflow: hidden;
	width: 330px;
	margin: 0 -20px 0 -22px;
	padding: 10px 0 0 22px;
	}
	
.mashup-grid .module-grid-row-wrap {
	margin: 0 auto;
	padding: 10px 0 0 10px;
	}
	
@media only screen and (min-width: 767px) {
	.mashup-grid .module-grid-row-wrap {
		padding: 10px 0 0;
		}
}

@media only screen and (min-width: 979px) {
	.mashup-grid .module-grid-row-wrap {
		padding: 10px 0 0 10px;
		}
}


	.module-item {
		width: 145px;
		height: 235px;
		float: left;
		display: inline;
		margin: 1px 11px 10px 0;
		position: relative;
		background: #f3f3f3;
		z-index: 10;
		
		border-radius: 3px;
		
		-webkit-box-shadow: 0 0 3px #999;
		-moz-box-shadow: 0 0 3px #999;
		box-shadow: 0 0 3px #999;
		}
		
		.module-item.module-blog-post {
			background: #fff;
			}
		
		.module-item:nth-child(2n+2) {
			margin: 1px 0 10px 0;
			}	
	
@media only screen and (min-width: 767px) {
	.module-grid-row-wrap {
		/*width: 767px;
		background: pink;
		margin: 1px -20px 0 -22px;
		padding: 10px 0 0 22px;*/

		width: 724px;
		/*background: red;*/
		margin: 1px 0 0;
		padding: 0 2px;
		}
		
		.module-item,
		.module-item:nth-child(2n+2) {
			width: 220px;
			height: 350px;
			margin: 1px 29px 34px 0;	
			}	
	
			.module-item:nth-child(3n+3) {
				margin: 1px 0 34px 0;
				}	
}

@media only screen and (min-width: 979px) {
	.module-grid-row-wrap {
		/* This is a bit of hackery to ensure box-shadows on the left and right products aren't cut off by the wrapping div */
		width: 960px;
		}
	
		.module-item,
		.module-item:nth-child(2n+2),
		.module-item:nth-child(3n+3) {
			margin: 1px 20px 20px 0;	
			}	
			
			.module-item:nth-child(4n+4) {
				margin: 1px 0 20px 0;
				}
}	

@media only screen and (min-width: 1199px) {
	.module-grid-row-wrap {
		width: 1199px;
		padding: 10px 0 0 12px;
		}

		.module-item,
		.module-item:nth-child(2n+2),
		.module-item:nth-child(3n+3),
		.module-item:nth-child(4n+4) {
			margin: 1px 19px 20px 0;	
			}	
	
			.module-item:nth-child(5n+5) {
				margin: 1px 0 20px 0;
				}
}
	

	
	.module-picture {
		/*height: 145px; */
		z-index: 2;
		
		-webkit-border-top-left-radius: 3px;
		-webkit-border-top-right-radius: 3px;
		-moz-border-radius-topleft: 3px;
		-moz-border-radius-topright: 3px;
		border-top-left-radius: 3px;
		border-top-right-radius: 3px;
		}
		
		.module-facebook .module-picture {
			border-radius: 0;
			}
			
			.module-facebook .module-feature-picture {
				max-width: none;
				height: 150px;
				margin-left: -40px;
				/* Calculation based on FB image from feed being 720*479px so when we scale it down here by height, the equivalent width is 225px so -40px margin "centers" it. */
				}
				
			.module-tv .module-picture {
				/*height: 70px;*/
				-webkit-border-top-left-radius: 3px;
				-webkit-border-top-right-radius: 3px;
				-moz-border-radius-topleft: 3px;
				-moz-border-radius-topright: 3px;
				border-top-left-radius: 3px;
				border-top-right-radius: 3px;
				}
				
@media only screen and (min-width: 767px) {
	.module-tv .module-picture {
		height: 125px;
		}	

	.module-facebook .module-feature-picture {
		height: 225px;
		margin-left: -59px;
		/* Calculation based on FB image from feed being 720*479px so when we scale it down here by height, the equivalent width is 338px so -59px margin "centers" it. */
		}

}
	
	.module-item.module-instagram,
	.product-item.module-instagram {
		overflow: hidden;
		}	
		
		.module-instagram .module-picture {
			height: 190px;
			width: 190px;
			max-width: none;		
			margin-left: -10px;		
			margin-top: 0;
			}
		
@media only screen and (min-width: 767px) {		
	.module-instagram .module-picture {
		height: 300px;
		width: 300px;
		margin-left: -40px;		
		margin-top: -10px;
		}
}


	.module-meta {
		padding: 7px;
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		z-index: 10;
		background: #f3f3f3;
		
		-webkit-border-bottom-left-radius: 3px;
		-webkit-border-bottom-right-radius: 3px;
		-moz-border-radius-bottomleft: 3px;
		-moz-border-radius-bottomright: 3px;
		border-bottom-left-radius: 3px;
		border-bottom-right-radius: 3px;
		}
		
		.module-meta.transparent {
			background: transparent;
			}
			
		.module-meta.transparent .module-footer-meta {
			background: #f3f3f3;
			float: left;
			margin: -7px;
			padding: 7px;
			width: 145px;

			-webkit-border-bottom-left-radius: 3px;
			-webkit-border-bottom-right-radius: 3px;
			-moz-border-radius-bottomleft: 3px;
			-moz-border-radius-bottomright: 3px;
			border-bottom-left-radius: 3px;
			border-bottom-right-radius: 3px;
			}
			

		
@media only screen and (min-width: 767px) {
	.module-meta {
		padding: 15px;
		}
		
		.module-meta.transparent .module-footer-meta {
			margin: -15px;
			padding: 15px;
			width: 220px;
			}
}
		
		.module-meta p {
			margin: 1px 0 0;
			font-size: 12px;
			line-height: 16px;
			}

@media only screen and (min-width: 767px) {
	.module-meta p {
		font-size: 15px;
		line-height: 20px;
		margin: 3px 0 0;
		}

	/*.module-footer {
		min-height: 75px;
		}*/
}


.module-facebook .module-meta,
.module-facebook .module-footer-meta,
.module-facebook .module-info {

	}



.module-facebook a.module-main-link {
	float: left;
	display: inline;
	width: 100%;
	height: 100%;
	position: relative;
	}

	.module-facebook .module-main-link .module-meta {
		bottom: 34px;
		}
		
@media only screen and (min-width: 767px) {
	.module-facebook .module-main-link .module-meta {
		bottom: 46px;
		}
}

.module-content {
	/*position: absolute;
	bottom: 48px;*/
	background: #fff;
	padding: 7px;
	z-index: 10;
	margin: -7px -7px 7px;
	width: 145px;
	overflow: hidden;
	}
	
	.module-tv .module-content,
	.module-tv .module-video-embed,
	.module-podcast .module-content {
		background-color: #000;
		background-image: url(/assets/images/mashup-tv-colour-strip.png);
		background-position: 0 0;
		background-repeat: no-repeat;
		background-size: 100% 1px;
		}
		
		.module-tv .module-video-embed {
			background-position: bottom center;
			background-color: transparent;
			z-index: 20;
			position: relative;
			overflow: hidden;
			height: 71px;
			}
			
		@media only screen and (max-width: 767px) {
	.module-tv .module-video-embed span {
				height: 70px;
				width: 100%;
				float: left;
				overflow: hidden;
				}
		}
		.module-tv .module-content,
		.module-podcast .module-content {
			background-image: none;
			}
			
		.module-tv .module-content {
			padding: 7px 7px 10px;
			background: #000;
			}
		
@media only screen and (min-width: 767px) {
	.module-tv .module-content {
		padding: 9px 15px;
		}

	.module-tv .module-video-embed {
		height: 126px;
		}

	.module-tv .module-content {
		background-size: 100% 2px;
		}

}	
.module-tv {
 	    background-color: #000;
		}
		
		.module-tv .module-video-embed {

		}
		
	.module-footer .module-content p {
		max-width: none;
		}
	
	.module-instagram .module-content,
	.module-facebook .module-content {
		background: none;
		}

	.module-instagram .module-content {
		background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC43NSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
		background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(0,0,0,0.75) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(0,0,0,0.75))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(0,0,0,0.75) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(0,0,0,0.75) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(0,0,0,0.75) 100%); /* IE10+ */
		background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(0,0,0,0.75) 100%); /* W3C */
		/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#bf000000',GradientType=0 );  IE6-8 */
		padding-bottom: 16px;
		}
		
		.module-instagram .module-item-intro,
		.module-blog-post .module-item-intro,
		.module-tv .module-item-intro {
			height: 45px; /* We set a height here in so jQuery truncate can do its thing */
			vertical-align: baseline;
			}
	
@media only screen and (max-width: 767px) {
	.module-tv .module-item-intro {
		height: 53px;
		overflow: hidden;
		}
}
		
@media only screen and (min-width: 767px) {
	.module-instagram .module-item-intro,
	.module-blog-post .module-item-intro {
		height: 49px; /* We set a height here in so jQuery truncate can do its thing */
		}
		
	.module-tv .module-item-intro {
		height: 83px;
		overflow: hidden;
		}
		
		.module-blog-post .module-item-intro {
			height: 80px;
			margin-bottom: -15px;
			}
}
		.ie9 .module-instagram .module-content {
			filter: none;
			}

 	.module-instagram .module-footer {
		bottom: 34px;
		}
		
@media only screen and (min-width: 767px) {
 	.module-instagram .module-footer {
		bottom: 46px;
		}

	.module-instagram .module-content {
		padding-bottom: 6px;
	}
}
		
		.module-facebook .module-content {
			margin-bottom: 0;
			}
			
@media only screen and (min-width: 767px) {
.module-content {
	/*bottom: 65px;
	padding: 4px 10px 9px;*/
	width: 220px;
	padding: 9px 15px;
	margin: -15px -15px 15px;
	}
}

	
	.module-content p {
		margin: 0;
		font-size: 12px;
		line-height: 18px;
		font-weight: 700;
		/*color: #464646;*/
		}

		.module-content .module-item-intro {
			font-weight: normal;
			color: #585858;
			}
			
		.module-store-item .module-content .module-item-title {
			color: #000;
			font-size: 15px;
			line-height: 20px;
			letter-spacing: -.1em;
			}

		.module-store-item .module-content .module-item-intro {
			color: #808080;
			}
			

@media only screen and (min-width: 767px) {
	.module-content p {
		font-size: 18px;
		line-height: 26px;
		}
		
		.module-content .module-item-intro {
			font-size: 15px;
			line-height: 20px;
			}
}

	
.module-footer p {
	float: left;
	display: inline;
	max-width: 77%;
	clear: both;
	}
	
.module-footer-meta p,
.module-footer p {
	/*font-weight: 700;*/	
	}
	
	.icon-blog,
	.icon-instagram,
	.icon-facebook,
	.icon-tweet {
		text-transform: lowercase;
		}
	
	.module-footer.full p {
		float: none;
		display: block;
		max-width: none;
		}
	
	.module-avatar {
		position: absolute;
		right: 7px;
		bottom: 7px;
		max-width: 30px;
		}
			
@media only screen and (min-width: 767px) {
	.module-avatar {
		max-width: none;
		right: 10px;
		bottom: 10px;
		}
}

@media only screen and (min-width: 579px) {
.isInAModal .module-avatar {
	width: 45px;
	height: 70px;
	max-width: 45px;
	}
	
	.isInAModal .module-avatar img {
		width: 45px;
		}
}

	.module-item-title,
	.module-item-title a {
			font-weight: 700;
			color: #464646;
			}
			
			.module-tv .module-content .module-item-title,
			.module-podcast .module-content .module-item-title {
				color: #fff;
				}

			
		.module-item-type,
		.module-item-intro {
			color: #808080;
			}
			
		.module-tweet-content a {
			color: #fff;
			font-weight: 400;
			/*display: block;*/
			
			-ms-word-break: break-all;
			/* Non standard for webkit */
			word-break: break-word;
		
			-webkit-hyphens: auto;
		   -moz-hyphens: auto;
        	hyphens: auto;
			}
			
@media only screen and (min-width: 579px) {
	.module-tweet-content a {
		font-weight: 700;
		}
}
			
		
			
			.module-tweet-content span {
				border-bottom: 1px solid #fff;
				}


/*.module-tweet-content {
	padding: 10px;
	font-size: 13px;
	line-height: 15px;
	}*/

/*@media only screen and (min-width: 767px) {
	.module-tweet-content {
		padding: 15px;
		font-size: 18px;
		line-height: 24px;
		}
}*/



.module-footer .module-item-meta {
	position: relative;
	padding-left: 20px;
	color: #8d8d8d;
	}
	

.module-item .module-footer .module-item-meta {
	font-weight: normal;
	}

	.module-blog-post .module-footer .module-item-meta {
		padding-left: 19px;		
		}
	
	.module-live-broadcast .module-footer .module-item-meta,
	.module-event .module-footer .module-item-meta {
		padding-left: 13px;		
		}
	
@media only screen and (min-width: 767px) {
.module-footer .module-item-meta {
	padding-left: 25px
	}
	
	.module-blog-post .module-footer .module-item-meta {
		padding-left: 20px;		
		}
		
	.module-live-broadcast .module-footer .module-item-meta,
	.module-event .module-footer .module-item-meta {
		padding-left: 16px;		
		}
}


.module-footer .module-item-meta:before {
	position: absolute;
	left: 0;
	top: 2px;
	width: 15px;
	height: 11px;
	content: " ";
	background-position:  0 0;
	background-repeat: no-repeat;
	background-size: cover;
	} 
	
		.module-tweet .module-footer .module-item-meta:before {
			background-image: url(/assets/images/mashup-twitter-icon.png);
			}
	
		.module-blog-post .module-footer .module-item-meta:before {
			background-image: url(/assets/images/mashup-blog-icon.png);
			width: 13px;
			height: 13px;
			top: 4px;
			}

		.module-live-broadcast .module-footer .module-item-meta:before,
		.module-event .module-footer .module-item-meta:before {
			background-image: url(/assets/images/mashup-location-icon.png);
			width: 8px;
			height: 12px;
			}
	
@media only screen and (min-width: 767px) {
.module-footer .module-item-meta:before {
	top: 3px;
	width: 18px;
	height: 13px;
	} 

	.module-blog-post .module-footer .module-item-meta:before {
			top: 4px;
			}

	.module-live-broadcast .module-footer .module-item-meta:before,
	.module-event .module-footer .module-item-meta:before {
		width: 11px;
		height: 16px;
		}
}



			
			.module-tv .module-item-intro {
				color: #999;
				}
			
			.module-instagram .module-item-intro,
			.module-facebook .module-item-intro {
				font-size: 12px;
				line-height: 18px;
				color: #fff;
				text-shadow: 1px 1px 1px #444;
				font-weight: normal;
				}
				
@media only screen and (min-width: 767px) {
		.module-instagram .module-item-intro,
		.module-facebook .module-item-intro {
			font-size: 15px;
			line-height: 20px;
			}

}

		
		.module-tweet-content,
		.module-instagram .module-item-intro a, 	
		.module-facebook .module-item-intro a {
			color: #fff;
			font-weight: 700;
			}
			
			.module-tweet-content span,
			.limiter .module-tweet-content a {
				border-bottom: 1px solid #fff;
				}

/* Had to lower line heights to account for longer tweets that include links which overlap the avatars at bottom */
.module-tweet-content {
	padding: 10px;
	font-size: 13px;
	line-height: 18px;
	font-weight: 400;
	}
	
	a.module-tweet-content {
		/* This makes the tweets on mashup homepage/grid fill their boxes. Individual/modal tweets aren't a link */
		float: left;
		width: 100%;
		height: 100%;
		
		/* Stops urls breaking out of boxes */
		-ms-word-break: break-all;
		 word-break: break-all;
		
		 word-break: break-word;
		
		-webkit-hyphens: auto;
	   -moz-hyphens: auto;
		hyphens: auto;		
		}
		
		a.module-tweet-content:hover {
			color: #fff;
			}

@media only screen and (min-width: 767px) {
	.module-tweet-content {
		padding: 15px;
		font-size: 18px;
		line-height: 26px;
		font-weight: 700;
		}
}



.module-footer .module-item-meta,
.module-item-comments,
.module-item-likes,
.icon-broadcast,
.icon-tweet,
.icon-blog,
.icon-instagram,
.icon-likes,
.icon-facebook,
.icon-store,
.icon-event,
.icon-tv,
.icon-link,
.icon-twitter,
.icon-replay,
.icon-live {
	position: relative;
	padding-left: 20px;
	color: #8d8d8d;
	}
	
	.module-item-likes {
		margin-right: 5px;
		}

	.module-item-comments,
	.module-item-likes {
		padding-left: 17px;
		}

	.module-blog-post .module-footer .module-item-meta {
		padding-left: 19px;		
		}
	
	.module-live-broadcast .module-footer .module-item-meta,
	.module-event .module-footer .module-item-meta {
		padding-left: 13px;		
		}
	
@media only screen and (min-width: 767px) {
.module-footer .module-item-meta {
	padding-left: 25px
	}
	
	.module-blog-post .module-footer .module-item-meta,
	.module-item-comments,
	.module-item-likes {
		padding-left: 20px;		
		}
		
	.module-podcast.module-footer .module-item-meta {
		padding-left: 22px;		
		}
		
	.module-live-broadcast .module-footer .module-item-meta,
	.module-event .module-footer .module-item-meta {
		padding-left: 16px;		
		}
}


.module-footer .module-item-meta:before,
.module-item-comments:before,
.module-item-likes:before,
.icon-broadcast:before,
.icon-tweet:before,
.icon-blog:before,
.icon-instagram:before,
.icon-likes:before,
.icon-facebook:before,
.icon-store:before,
.icon-event:before,
.icon-tv:before,
.icon-link:before,
.icon-twitter:before,
.icon-replay:before,
.icon-live:before,
.icon-podcast:before {
	position: absolute;
	left: 0;
	top: 2px;
	width: 15px;
	height: 11px;
	content: " ";
	background-position:  0 0;
	background-repeat: no-repeat;
	background-size: cover;
	} 
	
		.module-tweet .module-footer .module-item-meta:before,
		.icon-tweet:before {
			background-image: url(/assets/images/mashup-twitter-icon.png);
			}
	
		.module-blog-post .module-footer .module-item-meta:before,
		.icon-blog:before {
			background-image: url(/assets/images/mashup-blog-icon.png);
			width: 13px;
			height: 13px;
			}
			
			.module-blog-post .module-footer .module-item-meta:before {
				top: 2px;
				}
				
			.blog.standalone .icon-blog:before {
				top: 5px;
				left: 10px;
				}
				
				.blog.standalone .icon-blog {
					padding-left: 25px;
					}

		.module-instagram .module-footer .module-item-meta:before,
		.icon-instagram:before {
			background-image: url(/assets/images/mashup-instagram-icon.png);
			width: 14px;
			height: 14px;
			top: 0;
			}

		.module-facebook .module-footer .module-item-meta:before,
		.icon-facebook:before {
			background-image: url(/assets/images/mashup-facebook-icon.png);
			width: 13px;
			height: 13px;
			top: 1px;
			}
			
			.module-facebook .module-footer-meta .module-item-meta:before {
				top: 4px;
				}

		.module-store-item .module-footer .module-item-meta:before,
		.icon-store:before {
			background-image: url(/assets/images/mashup-store-icon.png);
			width: 12px;
			height: 13px;
			}

		.module-tv .module-footer .module-item-meta:before,
		.icon-tv:before {
			background-image: url(/assets/images/mashup-tv-icon.png);
			width: 13px;
			height: 13px;
			top: 4px;
			}

		.module-podcast .module-footer .module-item-meta:before,
		.icon-podcast:before {
			background-image: url(/assets/images/mashup-podcast-icon.png);
			width: 14px;
			height: 14px;
			}

		.module-live-broadcast .module-footer .module-item-meta:before,
		.module-event .module-footer .module-item-meta:before,
		.icon-broadcast:before,
		.icon-event:before {
			background-image: url(/assets/images/mashup-location-icon.png);
			width: 8px;
			height: 12px;
			}
			
		.icon-instagram:before {
			top: 3px;
			}
			
		.module-instagram .module-footer-meta .module-item-meta:before {
				top: 0;
				}
			
			.module-item-comments:before,
			.icon-comments:before {
				background-image: url(/assets/images/mashup-comment-icon.png);
				width: 14px;
				height: 11px;
				}	

			.module-item-likes:before,
			.icon-likes:before {
				background-image: url(/assets/images/mashup-like-icon.png);
				width: 14px;
				height: 11px;
				}	

			.icon-link:before {
				background-image: url(/assets/images/icon-link-blue.png);
				width: 16px;
				height: 16px;
				top: 3px;
				}	

			.icon-replay:before,
			.icon-live:before {
				background-image: url(/assets/images/icon-play.png);
				width: 18px;
				height: 18px;
				top: 4px;
				left: 5px;
				}	

	
@media only screen and (min-width: 767px) {
.module-footer .module-item-meta:before {
	top: 3px;
	width: 18px;
	height: 13px;
	} 

	.module-blog-post .module-footer .module-item-meta:before {
			top: 4px;
			}

	.module-instagram .module-footer .module-item-meta:before,
	.module-facebook .module-footer .module-item-meta:before,
	.module-tv .module-footer .module-item-meta:before,
	.module-store-item .module-footer .module-item-meta:before {
		width: 16px;
		height: 16px;
		top: 2px;
		}

		.module-instagram .module-footer-meta .module-item-meta:before {
			top: 4px;
			}
	
	.module-live-broadcast .module-footer .module-item-meta:before,
	.module-event .module-footer .module-item-meta:before {
		width: 11px;
		height: 16px;
		}
		
			.module-item-comments:before {
				width: 16px;
				height: 13px;
				}	

			.module-item-likes:before {
				width: 16px;
				height: 13px;
				}	
}



.module-live-broadcast .module-header {
	background: #d3171e;
	padding: 5px 10px;
	position: absolute;
	top: 10px;
	left: -5px;
	z-index: 10;
	
	box-shadow: 1px 1px 3px #6c0507;
		
	-webkit-border-radius: 3px;
	-webkit-border-bottom-left-radius: 0;
	-moz-border-radius: 3px;
	-moz-border-radius-bottomleft: 0;
	border-radius: 3px;
	border-bottom-left-radius: 0;
	}

	.module-header.live-broadcast {
		background: #3aae43;
		box-shadow: 1px 1px 3px #0b6f34;
		}
	
.module-live-broadcast .module-header::before {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    left: -5px;
	bottom: -10px;
    z-index: 1;
    border: 5px solid;
    border-color: #6c0507 transparent transparent transparent;    
	}
	
	.module-header.live-broadcast::before {
		border-color: #0b6f34 transparent transparent transparent;    
		}
	.module-header.live-broadcast .module-event-date {
		color: #fff;
		}
	
	.module-live-broadcast .module-header::after {
		z-index: -20;
		}
	
	.module-live-broadcast .module-header::before { left: 0; }	

	
	.module-live-broadcast .module-header p {
		margin: 0;
		text-transform: uppercase;
		line-height: 14px;
		}
		
		.module-live-broadcast .module-event-title {
			font-weight: 700;
			color: #fff;
			font-size: 12px;
			}
			
			.module-live-broadcast .module-event-date {
				color: #eca8a9;
				font-size: 11px;
				}
					
@media only screen and (min-width: 767px) {
	.module-live-broadcast .module-header p {
		line-height: 20px;
		}
	
	.module-live-broadcast .module-event-title {
		font-size: 15px;
		}

	.module-live-broadcast .module-event-date {
		font-size: 13px;
		}
}



.module-event-detail {
	z-index: 5;
	background: #000;
	text-transform: uppercase;
	/*position: absolute;
	bottom: 64px;	*/
	width: 145px;
	margin: -7px -7px 7px -7px;
	padding: 10px 7px;
	}
	
@media only screen and (min-width: 767px) {
	.module-event-detail {
		padding: 15px;
		/*bottom: 75px;*/
		width: 220px;
		margin: -15px -15px 15px -15px;
		}
}
	
	.module-event-detail p {
		margin: 0;
		}
		
		.module-footer .module-event-date {
			font-weight: 700;
			color: #999;
			} 
			
			.module-event .module-footer .module-event-date {
				color: #fff;
				}
			
.module-item-flag {
	position: absolute;
	top: 7px;
	right: 7px;
	color: #ccc;
	text-transform: uppercase;
	font-size: 11px;
	font-weight: 700;
	letter-spacing: .1em;
	padding: 5px;
	line-height: 1;
	background: #000;
	opacity: .75;
	z-index: 10;
	
	border-radius: 3px;
	}
	
@media only screen and (min-width: 767px) {
	.module-item-flag {
		padding: 7px;
		font-size: 13px;
		}
}


.module-thumbnails {
	margin: 0 -7px 3px;
	display: inline-block;
	}
	
	.module-thumbnails img {
		float: left;
		display: inline;
		width: 48px;
		height: 42px;
		}
		
		.module-thumbnails img:last-child {
			width: 49px;
			}	

		
@media only screen and (min-width: 767px) {
	.module-thumbnails {
		margin: 0 -15px 9px;
		}
		
		.module-thumbnails img {
			width: 73px;
			height: 63px;
			}
			
			.module-thumbnails img:last-child {
				width: 74px;
				}
}



.module-event:before,
.module-event:after {
	content: " ";
	position: absolute;
	top: -5px;
	left: 5px;
	width: 7px;
	height: 15px;
	background-image: url(/assets/images/mashup-loop.png);
	background-position: top center;
	background-repeat: no-repeat;
	background-size: contain; 
	z-index: 10;
	}
	
	.module-event:after {
		right: 5px;
		left: auto;
		}
		
@media only screen and (min-width: 767px) {
	.module-event:before,
	.module-event:after {
		top: -10px;
		left: 10px;
		width: 7px;
		height: 30px;
		}
		
		.module-event:after {
			right: 10px;
			left: auto;
			}
}



.mashup-thumb {
	-webkit-border-top-left-radius: 3px;
	-webkit-border-top-right-radius: 3px;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-topright: 3px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;	
	}

.overflow-pic-container {
	overflow: hidden;
	float: left;
	width: 145px;
	
	-webkit-border-top-left-radius: 3px;
	-webkit-border-top-right-radius: 3px;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-topright: 3px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;	
	}
	
@media only screen and (min-width: 767px) {
	.overflow-pic-container {
		width: 220px;
		}

}
/* END : Grid Modules */


















































































/* START : Non modal content */
/*.module-content-wrap {
	position: relative;
	z-index: 1;
	}
	
	.module-content-inner.intro {
		background: #fff;
		padding: 20px 0 0;
		}
		
	.module-content-inner.detail {
		background: #f3f3f3;
		}

	.module-content-inner.related {
		background: #000;
		}

.module-content-wrap .overlay-content {
	margin: 0 auto;
	padding: 0 10px;
	position: relative;
	background: none;
	overflow: hidden;

	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;

	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	}
	
@media only screen and (min-width: 767px) {
.module-content-wrap .overlay-content {
	padding: 0 50px;
	}
}


.non-modal-inner {
	}

.non-modal-inner .module-meta {
	position: relative;
	}
	
.module-tweeter {
	position: absolute; 
	top: 0;
	width: 100%;
	}
	
.module-tweet {
	padding-top: 46px;
	}
	
	.module-tweet p {
		margin: 0;
		}
		
@media only screen and (min-width: 767px) {
	.module-tweeter {
		top: auto;
		bottom: 100px;
		}
		
		.non-modal .module-tweeter .module-meta {
			background: none;
			}

		.module-tweet {
			padding-top: 0;
			padding-bottom: 50px;
			}
}

.standalone .module-avatar {
	float: left;
	display: inline;
	margin: 0 10px 0 0;
	top: auto;
	bottom: auto;
	right: auto;
	left: auto;
	position: relative;
	} 
	
.standalone .module-footer p {
	float: none; 
	clear: none;
	display: inline-block;
	max-width: none;
	}*/
	

/* END : Non modal content */











/* START : Modal Item - Tweet */
/*.module-content-wrap .module-tweet-content {
	font-size: 18px;
	line-height: 24px;
	padding: 30px 0;
	}

@media only screen and (min-width: 767px) {
	.module-content-wrap .module-tweet-content {
		font-size: 50px;
		line-height: 1;
		padding: 50px 0;
		}

}*/
/* END : Modal Item - Tweet */
