/* START : Modal and Standalone page content */

/* 
This is the worst kind of hackery but sadly it's needed because we're having to show 
a bit of duplicated HTML where the layouts from the visuals are drastically different 
and the only current way to do it is render twice and hide depending on screen size
class. 
*/
.small-screen { display: block !important; }	
.big-screen { display: none !important; }

.module-info  {
	position:absolute;
	top:0;
	left:0;
	background-color:#f00 !important;	
	font-size:10px;
	z-index:9999;
	font-weight:bold;
	padding:0.2em;
	line-height:1em;
}

.module-info a { 
	color:#fff !important;	
}

/* Instagram does not have any tagging/linking/search that we can use so for now disabling the hashtags/links but by doing so they have some horrid transparent image on them so this hides it */
.module-instagram-nametag, .module-instagram-hashtag {
    background: none !important;
}
	
@media only screen and (min-width: 579px) {
	.small-screen { display: none !important; }
	.big-screen { display: block !important; }
}

.non-modal {
	background: #fff;
	}

@media only screen and (max-width: 579px) {
	.isInAModal .non-modal.instagram {
		padding: 10px 0;
		}
		
		.isInAModal .non-modal.instagram .module-user.small-screen,
		.isInAModal .non-modal.instagram .modal-content.small-screen {
			padding: 10px;
			}
			
		/*.isInAModal .non-modal.instagram .instagram-photo {
			margin-top: 10px;
			}*/
}

h1 {
	font-size: 28px;
	line-height: 34px;
	color: #000;
	text-align: center;
	letter-spacing: -1px
	}
	
.modal-album-count,
.podcast-name {
	text-transform: uppercase;
	font-size: 13px;
	line-height: 30px;
	text-align: right;
	float: right;
	letter-spacing: .15em;
	color: #000;
	font-weight: 700;
	}
	
	.podcast-name {
		margin: 0 0 5px;
		}
	
@media only screen and (min-width: 579px) {
	.modal-album-count,
	.podcast-name {
		font-size: 13px;
		line-height: 25px;
		float: none;
		text-align: center;
		color: #999;
		}
}


/* -- START : Podcast */
.podcast-player {
	margin: 10px 0 15px;
	display: inline-block;
	}
	
.podcast .big-screen .profile-info,
.podcast-item-date {
	color: #666;
	}
	
	.podcast-item-date {
		margin: -7px 0 0 0;
		line-height: 20px;
		font-size: 13px;
		font-weight: 700;
		}

.podcast.profile .small-screen .profile-avatar {
	max-width: 90px;
	margin-top: 5px;
	}
	
.podcast-description {
	float: right;
	display: inline;
	width: 180px;
	} 
	
.podcast-name {
	text-align: left;
	float: left;
	color: #898989;
	font-size: 13px;
	line-height: 18px;
	}
	
	.podcast h1 {
		color: #464646;
		font-size: 15px;
		line-height: 18px;
		float: left;
		display: block;
		letter-spacing: normal;
		}		
	
@media only screen and (min-width: 579px) {
	.podcast-player {
		margin: 23px 0 30px;
		}
		
	.podcast-item-date {
		margin: -7px 0 0 0;
		line-height: 24px;
		font-size: 15px;
		font-weight: 700;
		}
	
	.podcast .profile-avatar {
		max-width: 180px;
		}
		
	.podcast-description {
		float: none;
		width: 100%;
		} 
		
.podcast-name {
	text-align: center;
	float: none;
	font-size: 15px;
	line-height: 25px;
	}
	
	.podcast h1 {
		color: #464646;
		font-size: 15px;
		line-height: 18px;
		font-size: 28px;
		line-height: 34px;
		letter-spacing: -1px;
		float: none;
		}	
}

/* -- END : Podcast */


/* -- START : Live Broadcast */
.broadcast .module-header {
	background: #d3171e;
	padding: 5px 10px;
	position: absolute;
	top: 10px;
	left: 5px;
	z-index: 10;
	
	box-shadow: 1px 1px 3px #6c0507;
		
	-webkit-border-radius: 3px;
	-webkit-border-bottom-left-radius: 0;
	-moz-border-radius: 3px;
	-moz-border-radius-bottomleft: 0;
	border-radius: 3px;
	border-bottom-left-radius: 0;
	}
	
@media only screen and (min-width: 579px) {
	.broadcast .module-header {
		left: 15px;
		}
}

.broadcast .module-header::before {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    left: -5px;
	bottom: -10px;
    z-index: 1;
    border: 5px solid;
    border-color: #6c0507 transparent transparent transparent;    
	}
	
	.broadcast .module-header::after {
		z-index: -20;
		}
	
	.broadcast .module-header::before { left: 0; }	

	
	.broadcast .module-header p {
		margin: 0;
		text-transform: uppercase;
		line-height: 14px;
		}
		
		.broadcast .module-event-title {
			font-weight: 700;
			color: #fff;
			font-size: 12px;
			}
			
			.broadcast .module-event-date {
				color: #eca8a9;
				font-size: 11px;
				}
				
		
.broadcast .broadcast-info p {
	font-weight: 700;
	color: #fff;
	font-size: 15px;
	line-height: 20px;
	margin: 0;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 3px;
	text-align: left;
	}

.broadcast .broadcast-info .module-event-date {
	font-weight: 300;
	letter-spacing: 1px;
	}
	
	
.broadcast-schedule .might-like-title span {
	float: right;
	}	
	
	.broadcast-schedule .might-like-title a {
		color: #ccc;
		}
		
		.broadcast-schedule .might-like-title a:hover,
		.broadcast-schedule .might-like-title .current {
			color: #2c8eb7;
			}
			
		
.schedule-day {
	font-size: 13px;
	line-height: 18px;
	font-weight: 700;
	color: #999;
	}	
	
	.dark-strip .schedule-day-title {
		margin: 0 0 21px 0;
		color: #999;
		}

@media only screen and (min-width: 579px) {
	.schedule-day {
		font-size: 15px;
		line-height: 20px;
		}
}
	
	.schedule-entry {
		padding: 13px 0;
		}

@media only screen and (min-width: 579px) {
	.schedule-entry {
		padding: 15px 0;
		}
}
		.schedule-entry:hover,
		.schedule-entry.current {
			background: #262626;
			}
	
	.schedule-info {
		float: left;
		display: inline;
		width: 60%;
		}

@media only screen and (min-width: 579px) {
	.schedule-info {
		width: 70%;
		}
		
	.schedule-time {
		float: left;
		display: inline;
		width: 130px;
		}	
}


			
		.schedule-name {
			color: #fff;
			}
			
		.dark-strip .schedule-desc {
			color: #999;
			}

@media only screen and (min-width: 579px) {
	.dark-strip .schedule-desc {
		margin-left: 130px;
		font-size: 13px;
		}

}
			
	.schedule-entry .button {
		float: right;
		width: 106px;
		}
		
@media only screen and (min-width: 579px) {
	.schedule-entry .button {
		margin-top: 5px;
		}

}
	
.non-modal.standalone .dark-strip {
	padding: 30px 0;
	background-color: #000;
	background-image: url(/assets/images/mashup-tv-colour-strip.png);
	background-position: 0 0;
	background-repeat: no-repeat;
	background-size: 100% 4px;
	}
	
	.instagram.non-modal.standalone .dark-strip,
	.podcast.non-modal.standalone .dark-strip {
		background-image: none;
		margin-top: 30px;
		padding: 50px 0;
		}
		
	.facebook.non-modal.standalone .dark-strip {
		background-image: none;
		}

	.broadcast-schedule .limiter {
		padding: 0 10px;
		}
	
@media only screen and (min-width: 579px) {
	.non-modal.standalone .might-like.broadcast-schedule {
		padding: 50px 0;
		}
}
/* -- END : LiveBroadcast */

/* -- START : Standalone Tweet (Modal) */
.standalone .module-outer-wrap {
	position: relative;
	}
	
@media only screen and (min-width: 579px) {
	.isInAModal .tweet .module-outer-wrap {
		background: #ccc;
		}
}
		.isInAModal .standalone.tweet .big-screen .content-like-info {
			background: #fff;
			}
	
	.standalone .module-avatar {
		position: relative;
		float: left;
		display: inline;
		right: auto;
		bottom: auto;
		margin: 4px 10px 0 0;
		}
		
		.standalone .module-item-title,
		.standalone .module-item-meta {
			margin: 0 0 0 45px;
			}
	/*		
@media only screen and (max-width: 579px) {
	.standalone .module-item-title,
	.standalone .module-item-meta,
	.isInAModal .module-item-title,
	.isInAModal .module-item-title {
		margin: 0;
		}
		
		.isInAModal .icon-instagram,
		.icon-instagram {
			padding-left: 0;
			}
	
}*/

/* TODO : Strengthen logic/layout around rendering details depending on whether avatar is present or not.  */
.module-user.small-screen {
	margin-top: 10px;
	}
	
.non-modal .module-user.big-screen .limiter.indented {
	max-width: 630px;
	}

.mashup-item-meta {
	position: relative;
	float: left;
	}

	.facebook .mashup-item-meta .module-item-meta, 
	.instagram .mashup-item-meta .module-item-meta,
	.tweet .mashup-item-meta .module-item-meta {
		margin: 0;
		padding-left: 0;
		}

		.facebook .mashup-item-meta .module-item-meta, 
		.instagram .mashup-item-meta .module-item-meta,
		.tweet .mashup-item-meta .module-item-meta,
		
		.facebook .big-screen .mashup-item-meta .module-item-meta, 
		.instagram .big-screen .mashup-item-meta .module-item-meta,
		.tweet .big-screen .mashup-item-meta .module-item-meta {
			margin: 0;
			padding: 0 0 0 20px;
			}
			
			.facebook .mashup-item-meta .module-item-meta.icon-facebook:before, 
			.instagram .mashup-item-meta .module-item-meta.icon-instagram:before,
			.tweet .mashup-item-meta .module-item-meta.icon-tweet {
				left: 0;
				}
			
			.tweet .mashup-item-meta .module-item-meta.icon-tweet:before {
				top: 5px;
				}
			
			.tweet .big-screen .mashup-item-meta .module-item-meta.icon-tweet:before {
				background-image: url(/assets/images/mashup-twitter-icon-fff.png);
				left: 0;
				/*top: 7px;*/
				}

	/*.standalone .module-item-title,
	.standalone .module-item-meta,
	.isInAModal .module-item-title,
	.isInAModal .module-item-title {
		margin: 0 !important;
		}
		
		.isInAModal .icon-instagram,
		.standalone .icon-instagram,
		.isInAModal .icon-tweet, 
		.standalone .icon-tweet {
			padding-left: 0 !important;
			}
			
	.standalone .profile-links .icon-instagram {
		padding-left: 20px !important;
		}		

	.isInAModal .icon-instagram:before,
	.isInAModal .icon-tweet:before {
		background-image: none;
		}*/
/* TODO : Strengthen logic/layout around rendering details depending on whether avatar is present or not.  */
		
			/*.instagram .big-screen .module-item-meta {
				margin: 0 0 0 24px;
				}*/

		.mashup-item-meta .module-item-title,
		.mashup-item-meta .module-item-meta {
			/*margin: 0 0 0 25px;*/
			margin: 0;
			}
			
			.mashup-item-meta .module-item-meta {
				margin: 0 0 0 10px;
				}
				
				
	
			
			.standalone .big-screen .module-item-title span {
				color: #fff;
				}
			
			.standalone.broadcast .module-item-meta {
				margin: 0 0 10px;
				font-weight: 700;
				color: #898989;
				font-size: 13px;
				line-height: 18px;
				}
			
			.standalone.broadcast .module-item-title {
				margin: 0;
				}
			
	.standalone .tweet-wrap {
		margin: 10px -10px;
		}
		

	.standalone .module-tweet-content {
		margin: 0;
		font-size: 18px;
		line-height: 24px;
		padding: 30px 10px;
		}
		
@media only screen and (min-width: 579px) {
	.standalone .module-user {
		position: absolute;
		bottom: 40px;
		width: 100%;
		}
		
.mashup-item-meta {
	max-width: 120px;
	}
		
		.instagram.standalone .module-user,
		.facebook.standalone .module-user,
		.broadcast.standalone .module-user {
			position: relative;
			bottom: auto;
			width: 180px;
			margin: 0 30px 0 0;
			float: left;
			display: inline;
			}
	
	.caption-content {
		overflow: hidden;
		}
	
	.standalone .tweet-wrap {
		margin: 0 -50px;
		padding: 50px;

		-webkit-border-top-left-radius: 3px;
		-webkit-border-top-right-radius: 3px;
		-moz-border-radius-topleft: 3px;
		-moz-border-radius-topright: 3px;
		border-top-left-radius: 3px;
		border-top-right-radius: 3px;		
		}
		
		.isInAModal .standalone .tweet-wrap {
			margin: 0;
			}
		
		.tweet-wrap p {
			margin: 0;
			}
	
	.standalone .module-tweet-content {
		font-size: 50px;
		line-height: normal;
		padding: 0 20px;
		}
		
		.isInAModal 	.standalone .module-tweet-content {
			padding: 0 45px;
			margin: 0 -45px;
			}
		
	.standalone .tweet-wrap .module-user {
		position: relative;
		bottom: auto;
		margin-top: 21px;
		}
		
			.standalone .tweet-wrap .module-user a,
			.standalone .tweet-wrap .module-item-meta {
				color: #fff;
				}
				
				.standalone .tweet-wrap .module-item-meta {
					/*padding-left: 35px;*/
					padding-left: 0;
					margin: 0;
					}
				
				.standalone .tweet-wrap .icon-tweet:before,
				.icon-tweet:before {
					top: 7px;
					left: 15px;
					/*background-image: url(/assets/images/mashup-twitter-icon-fff.png);*/
					background-image: none;
					}
}
/* -- END : Standalone Tweet (Modal) */

/* -- START : Standalone Tweet (Non Modal) */
.non-modal .limiter {
	max-width: 320px;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
	}
	
	.limiter.indented,
	.limiter.fixed-580 {
		padding: 0 10px;
		}
		
	.limiter.reverse-indented {
			margin: 0 -10px;
			}
			
	
@media only screen and (min-width: 579px) {
	.non-modal .limiter,
	.non-modal.instagram .limiter.instagram-photo {
		max-width: 680px;
		}
		
		.non-modal.instagram .limiter,
		.non-modal.facebook .limiter,
		.limiter.fixed-580 {
			max-width: 580px;
			}
			
			.limiter.fixed-580 {
				padding: 0;
				}
			
		.non-modal.facebook .limiter,
		.isInAModal .non-modal.tweet .module-user.big-screen .limiter {
			max-width: 640px;
			}
			
			
			
			.limiter.fixed-620 {
				width: 620px;
				max-width: 620px;
				}
			
		.limiter.indented {
			padding: 0 20px;
			}
			
		.limiter.reverse-indented {
			margin: 0 -20px;
			}
}

.profile-links .icon-twitter:before {
	background-image: url(/assets/images/icon-twitter-blue.png);
	width: 18px;
	height: 13px;
	top: 6px;
	}	

.profile-links .icon-instagram:before {
	background-image: url(/assets/images/icon-instagram-blue.png);
	width: 16px;
	height: 16px;
	top: 5px;
	}	

.icon-link:before {
	background-image: url(/assets/images/icon-link-blue.png);
	width: 16px;
	height: 16px;
	top: 5px;
	}	

/* -- END : Standalone Tweet (Non Modal) */



/* -- START : Standalone Instagram */
.dark-strip {
	background: #000;
	padding: 30px 0;
	clear: both;
	}
	
	.modal .dark-strip {
		margin: 0 -50px;
		padding: 30px 50px;
		}
		
		.dark-strip p {
			color: #fff;
			margin: 0;
			}

		.instagram-photo img {
			margin-bottom: 10px;
			}
			
@media only screen and (min-width: 579px) {
	.instagram-photo {
		text-align: center;
		margin: 0;
		}
		
	.instagram-photo img {
		border: 4px solid #222;
		margin: 0; 		
		}	
}

.content-like-info {
	padding: 30px 0;
	}
	
	.content-like-info p {
		margin: 0;
		}
/* -- END : Standalone Instagram (Modal) */


/* -- START : Standalone Facebook (Non & Modal) */
.facebook .icon-facebook:before {
	top: 4px;
	}

.facebook-photo {
	text-align: center;
	}
	
.content-like-info {
	padding: 10px;
	}
	
	.content-like-info .caption-content {
		margin-top: 5px;
		}
	
	.like-count {
		color: #8d8d8d;
		font-weight: 700;
		letter-spacing: 1px;
		font-size: 13px;
		line-height: 40px;
		}
		
		.standalone .modal-album-count {
			line-height: 40px; 
			margin: 0;
			}
		
		.facebook .modal-album-count {
			line-height: 20px;
			height:60px;			
		}
		
	.facebook .big-screen .module-item-title a,
	.instagram .big-screen .module-item-title a {
		color: #999;
		}	
		
	.facebook .big-screen .module-item-meta,
	.instagram .big-screen .module-item-meta {
		color: #ccc;
		}
	
	.like-data img {
		margin-right: 10px;
		border-radius: 3px;
		}

@media only screen and (min-width: 579px) {
	.facebook .icon-facebook:before {
		top: 4px;
		left: 16px;
		}
		
	.instagram .icon-instagram:before {
		top: 5px;
		left: 15px;
		}

		.facebook .big-screen .module-item-meta,
		.instagram .big-screen .module-item-meta {
			padding: 0 0 0 35px;
			}
	
	.dark-strip .caption-content {
		color: #ccc;
		float: right;
		display: inline;
		width: 370px;
		}
	
	.content-like-info {
		padding: 30px 20px;
		}
		
		.content-like-info .button {
			float: right;
			margin-top: 5px;
			}
}

.facebook-photo-gallery {
	background: #000;
	overflow: hidden;
	width: 320px;
	height: 320px;
	margin: 10px auto;
	}

	.facebook-photo-gallery img {
		float: left;
		display: block;
		/*min-width: 640px;*/		
		}
		
	.facebook-photo-gallery-img {
		display:block;
		float:left;		
		height:320px;
		position: relative;			
		}

	.facebook-photo-gallery .pagination {
		position: absolute;
		left: 0; 
		top: 125px;
		z-index: 50;
		}
			
		.facebook-photo-gallery .pagination.next {
			right: 0px;
			left: auto;
			}
	
	.facebook-comments,
	.page-comments {
		padding: 20px 0;
		}
		
	.facebook-photo-gallery-img img {
		float:none;				
		margin:auto;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;		
		}	

.facebook-caption .description {
	float: left;
	width: 220px;
	display: inline;
	}	

@media only screen and (min-width: 579px) {
	.facebook-photo-gallery {
		width: 620px;
		height: 620px;
		margin: 0 auto;
		}

		.facebook-photo-gallery-img {
			height: 620px;
		}

				
			
			facebook-photo-gallery-img.landscape img {
						
			}
			
			

		/*.facebook-photo-gallery-images {
			height: 620px !important;
			line-height: 620px;
			}
			
			.facebook-positioner {
				position: absolute;
				top: 0;
				line-height: 620px;
				visibility: hidden;
				
				}
	
			.facebook-photo-gallery img {
				margin: auto 0;
				display: inline-block;
				vertical-align: middle;
				float: none;
				}*/
	
				
					
	
	.facebook-photo-gallery .pagination {
		top: 270px;
		left: 10px;
		opacity: 0;
		}
		
		.facebook-photo-gallery:hover .pagination {
			opacity: 1;
			}
		
		.facebook-photo-gallery .pagination.next {
			left: auto;
			right: 10px;
			}
	
	.facebook-comments,
	.page-comments {
		padding: 40px 0;
		}
}
/* -- END : Standalone Facebook (Non & Modal) */


/* -- START : Standalone TV (Non-Modal) */
.broadcast h1 {
	margin-bottom: 16px;
	}

.non-modal.broadcast .video-player {
	margin: 0 auto 10px;
	}
	
	
@media only screen and (min-width: 579px) {
	.non-modal.broadcast .video-player {
		margin: 0 auto 23px;
		}
}

.video-details span,
.item-store-link {
	display: block;
	color: #8d8d8d;
	font-size: 13px;
	line-height: 18px;
	}
	
	.item-store-link {
		overflow: hidden;
		margin-top: 10px;
		max-width: 120px;
		}
	
.item-store-link img {
	float: left;
	display: inline;
	margin: 0 10px 0 0;
	}
@media only screen and (min-width: 579px) {
	.video-details span {
		line-height: 24px;
		}	
}

@media only screen and (min-width: 579px) {
	.standalone .might-like {
		background-color: #000;
		background-image: url(/assets/images/mashup-tv-colour-strip.png);
		background-position: 0 0;
		background-repeat: no-repeat;
		background-size: 100% 4px;
		padding: 30px;
		margin: 0 -50px -50px;
		
		-webkit-border-bottom-right-radius: 5px;
		-webkit-border-bottom-left-radius: 5px;
		-moz-border-radius-bottomright: 5px;
		-moz-border-radius-bottomleft: 5px;
		border-bottom-right-radius: 5px;
		border-bottom-left-radius: 5px;		
		}
		
		.profile.standalone .might-like,
		.blog.standalone .might-like {
			background-image: none;
			}
		
		.non-modal.standalone .might-like {
			padding: 30px 50px;
			margin: 29px auto 0;
			
			-webkit-border-radius: 0;
			-moz-border-radius: 0;
			border-radius: 0;
			}
}

.might-like .limiter {
	width: 320px; 
	overflow: hidden;
	}
	
	.dark-strip .might-like-title {
		text-transform: uppercase;
		font-size: 13px;
		line-height: 20px;
		font-weight: 700;
		letter-spacing: 1px;
		color: #ccc;
		margin: 0 0 16px 0;
		}
	
	.might-like .limiter .might-like-item {
		float: left;
		display: inline;
		width: 135px;
		margin: 0 10px 0 0;
		}
		
		.might-like .limiter .might-like-item:nth-child(2n+1) {
			margin: 0;
			}

		.might-like .limiter .might-like-item:nth-child(3n+1) {
			display: none;
			}
			
		.standalone.broadcast .might-like-item .module-item-title {
			margin-top: 5px;
			}
			
@media only screen and (min-width: 579px) {
	.might-like .limiter {
		width: 680px; 
		}
		
		.might-like .limiter .might-like-item {
			width: 180px;
			margin: 0 20px 0 0;
			}
			
			.might-like .limiter .might-like-item:nth-child(2n+1) {
				margin: 0 20px 0 0;
				}
	
			.might-like .limiter .might-like-item:nth-child(3n+1) {
				display: inline;
				margin: 0;
				}
}
/* -- END : Standalone TV (Non-Modal) */



/* -- START : Standalone Profile */
.profile .module-user {
	width: 286px;
	margin: 10px auto 0;
	}
	
.profile .module-outer-wrap {
	margin: 0 auto 35px;
	}

@media only screen and (min-width: 579px) {
	.profile .module-outer-wrap {
		margin: 20px auto 40px;
		}
}


.big-screen .profile-header {
	float: left;
	display: inline;
	width: 180px;
	}
	
.big-screen .profile-info {
	float: left;
	display: inline;
	margin-left: 20px;
	width: 380px;
	font-size: 18px;
	line-height: 24px;
	}

.non-modal .limiter.profile-detail {
	max-width: 620px;
	}
	
.profile .module-item-title,
.profile .module-item-meta {
	margin: 0;
	}
	
	.profile .module-item-title {
		margin-top: 35px;
		}
		
@media only screen and (min-width: 579px) {
	.profile-info .module-item-title {
		margin: 0 0 5px 0;
		font-size: 28px;
		line-height: 34px;
		}
}
	
.profile-links {
	list-style: none;
	}
	
@media only screen and (max-width: 579px) {
.profile-links {
	margin-top: 21px;
	}
}

	/*.isInAModal .icon-instagram, */
	/*.standalone .icon-instagram,*/
	.isInAModal .profile-links .icon-instagram {
		padding-left: 25px !important;
		}

	.profile-links a {
		font-weight: 700;
		font-size: 13px;
		line-height: 24px;
		}

@media only screen and (min-width: 579px) {
	.profile-links a {
		font-size: 15px;
		}
	
}

.profile .small-screen .profile-avatar {
	width: 90px;
	float: left;
	display: inline;
	margin: 0 15px 15px 0;
	}

@media only screen and (min-width: 579px) {
	.profile .big-screen .profile-avatar {
		margin: 0 0 35px 0;
		}
}
/* -- END : Standalone Profile */


/* -- START : Standalone Event */
.event-details,
.event-pricing,
.event-actions {
	padding: 20px 0;
	}
		
	.event-details p {
		margin: 0;
		text-align: center;
		font-size: 13px;
		line-height: 25px;
		text-transform: uppercase;
		font-weight: 700;
		}
		
		.event-details .event-title {
			font-size: 15px;
			line-height: 25px;
			text-transform: none;
			}
	
		.event-details .event-calendar {
			margin-top: 11px;
			}
			
@media only screen and (min-width: 579px) {
	.event-details .event-title {
		font-size: 28px;
		line-height: 34px;
		}
		
	.event-actions {
		padding: 30px 0;
		}

}

.event-pricing p {
	margin: 0;
	font-size: 13px; 
	line-height: 18px;
	}
	
	.event-pricing p {
		color: white;
		width: 200px;
font-weight: 700;
display: block;
clear: both;
text-align: left;
margin: 0 auto;
	}
	
	.event-pricing .event-price-category {
		width: 200px;
		font-weight: 700;
		display: block;
		clear: both;
		text-align: left;
		margin: 0 auto;
		}
			
		.event-price-category span {
			float: right;
			text-align: right;
			}
			
		.event-pricing .event-price-info {
			margin: 15px auto 0;
			text-align: center;
			max-width: 80%;
			}
		
@media only screen and (min-width: 579px) {
	.event-pricing p {
		font-size: 15px;
		line-height: 24px;
		}
}


.event-actions p {
	text-align: center;
	margin: 0 auto;
	}
	
	.event-actions .button {
		margin: 0 10px;
		}
/* -- END : Standalone Event  */


/* -- START : Blog Post */
.blog-content-wrap {
	padding: 0 10px;
	}

.blog h1.small-screen {
	font-size: 18px;
	line-height: 24px;
	letter-spacing: -.018em;
	margin-bottom: 20px;
	}
	
.blog h1.big-screen {
	font-size: 36px;
	line-height: 44px;
	letter-spacing: -.018em;
	margin-bottom: 20px;
	}
	
.blog-content p {
	line-height: 20px;
	}
	
.blog .module-user {
		padding: 10px 0 5px 10px;
		}

.blog-feature-pic,
.blog-full-pic {
	margin: 0 auto 24px;
	}
	
.blog-tweet-pull {
	font-weight: 700;
	font-style: italic;
	font-size: 13px;
	line-height: 20px;
	text-align: center;
	margin: 0 auto 30px;
	max-width: 250px;
	}
	
	.blog-tweet-pull .button {
		font-style: normal;
		height: 30px;
		line-height: 26px;
		padding: 0 10px;
		}
		
#disqus_thread {
	background: #ebebeb;
	margin: 0;
	padding: 20px 10px;
	}


@media only screen and (min-width: 579px) {
	.blog-content-wrap {
		padding: 0 30px;
		}
		
	.blog.standalone .module-user.big-screen {
		position: relative;
		width: 180px;
		float: left;
		bottom: auto;
		margin-left: 20px;
		}
	
	.blog-content {
		width: 380px;
		float: right;
		}
			
		.blog-content p:first-child {
			font-size: 18px;
			line-height: 24px;
			color: #898989;
			}
			
			.blog-content p:first-child:first-letter {
				color: #464646;
				font-size: 50px;
				font-weight: 700;
				line-height: 20px;
				float: left;
				display: inline;
				margin: 12px 0 0;
				padding: 0 5px 5px 0;
				}
			
	.blog-full-pic {
		margin: 0 0 24px -240px;
		max-width: none;
		width: 620px;
		}
		
	.blog-tweet-pull {
		margin: 0 0 0 -220px;
		max-width: 150px;
		position: absolute;
		font-size: 15px;
		font-style: normal;
		line-height: 24px;
		text-align: left;
		color: #363636;
		}
		
		.blog-content .blog-tweet-pull p:first-child,
		.blog-content .blog-tweet-pull p:first-child:first-letter {
			font-size: 15px;
			line-height: 24px;
			color: #363636;
			}
			
			.blog-content .blog-tweet-pull p:first-child:first-letter {
				float: none;
				line-height: 24px;
				padding: 0;
				margin: 0;
				}
		
		.blog-tweet-pull .button {
			height: 40px;
			line-height: 36px;
			padding: 0 15px;
			}
			
#disqus_thread {
	margin: 0;
	padding: 50px;
	}
}


.blog-gallery-pull {
	margin: -5px -10px 21px;
	display: block;
	width: 320px;
	position: relative;
	overflow: hidden;
	}
	
	.blog-gallery-pull img {
		display: inline;
		float: left;
		width: 145px;
		height: auto;
		margin: 5px;
		padding: 5px;
		background: #fff;
		}
	
@media only screen and (min-width: 579px) {
	.blog-gallery-pull {
		margin: -10px 0 21px -241px;
		width: 700px;
		}
		
		.blog-gallery-pull img {
			width: 300px;
			margin: 10px;
			padding: 10px;
			}

}


.blog-sideimage-pull {
	float: left;
	display: inline; 
	margin: 5px 10px 15px 0;
	width: 100px;
	}

@media only screen and (min-width: 579px) {
	.blog-sideimage-pull {
		position: absolute;
		left: 80px;
		display: block;
		float: none;
		margin: 5px 0 0;
		width: 200px;
		}
}

/* -- END : Blog Post */

/* END : Modal and Standalone page content */
