/* 
	
	TODO: A class of "modal" needs adding to the <html> element when a modal is fired 
	otherwise none of the scrolling stuff will work. https://trello.com/c/E7jcJyPm
	
	We need to fake scrolling here. We're turning off html & body scrolling and 
	actually scrolling the overlay instead with auto. 

*/

html.isInAModal body {
    background-color: #fff;
}

html.modal, .modal body {
	overflow: auto;
	height: 100%;
	}

.modal .semantic-content {
		position: absolute;
		height: auto;
		overflow-y: scroll;
       -webkit-overflow-scrolling: touch;
		}

@media only screen and (min-width: 579px) {
    .product-close-mobile {
    }
}

@media only screen and (max-width: 579px) {
	.modal-inner iframe {
		width: 320px !important;
		margin: 0 -10px;
		padding: 0;
		outline: none;
		outline-style: none;
		border: 0;
		overflow: hidden !important;
		}
}

@media only screen and (min-width: 579px) {
    .modal-inner iframe {
	    width: 100% !important;
	    border: 0;
	    outline: none;
	    outline-style: none;
	    overflow: hidden !important;
	    margin-bottom: -6px;
	
	    -webkit-border-bottom-right-radius: 5px;
	    -webkit-border-bottom-left-radius: 5px;
	    -moz-border-radius-bottomright: 5px;
	    -moz-border-radius-bottomleft: 5px;
	    border-bottom-right-radius: 5px;
	    border-bottom-left-radius: 5px;
	    }
}

.modal-inner body {
	overflow: hidden;
	}
		
.hideTab {
    display: none;
}

html.modal .modal-inner {
    display: block;
}        
        
.modal-inner {
    display: none;
}

@media only screen and (min-width: 579px) {
	html.modal, .modal body {
		/* overflow: hidden;*/
		}

	.modal .semantic-content {
			overflow: auto;
			position: fixed;
			}
}

@media only screen and (max-width: 579px) {
	.modal .sitewide-navigation {
		display: none;
		}
}


.semantic-content {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 10100;

    display: none\9;
	
	-webkit-transform: translate(0, 100%);
	-moz-transform: translate(0, 100%);
	-o-transform: translate(0, 100%);
	-ms-transform: translate(0, 100%);
	transform: translate(0, 100%);
	-webkit-transform: translate3d(0, 100%, 0);
	transform: translate3d(0, 100%, 0);
	
	-webkit-transition: opacity 0.4s;
	-o-transition: opacity 0.4s;
	transition: opacity 0.4s;	
	}

html.modal-active .semantic-content {
	-webkit-transform: translate(0, 0);
	-moz-transform: translate(0, 0);
	-o-transform: translate(0, 0);
	-ms-transform: translate(0, 0);
	transform: translate(0, 0);
    display: block\9;
	opacity: 1;
	}

/*.is-active.semantic-content {
	display: block\9;
	overflow: auto;
	}*/

.semantic-content .modal-inner > video,
.semantic-content .modal-inner > iframe {
	width: 100%;
	height: auto;
	min-height: 300px;
	}
	
	.semantic-content .modal-inner > iframe {
		border: 0;
		}

.semantic-content .modal-close {
	display: block;
	overflow: hidden;
	}

.semantic-content .modal-close:before {
	/* This is the opaque background overlay behind the window */
	content: ' ';
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 10;
	background: #ccc;
	opacity: .9;
	height: 1000%;
	}

	@-moz-document url-prefix(){
		.semantic-content .modal-close:before {
			top: auto;
			right: 16px;
			}
		}