/*
	HILLSONG CHURCH
	-----------------------
	Author 	: 	James Young

	CONTENTS
	-------------
	- Sitewide Navigation

*/

#iosfix { height: 10px; overflow: hidden; }

/* START : Sitewide Navigation */
.sitewide-navigation {
    top: -332px;
	position: fixed;
    z-index: 10000;
    width: 100%;
    
	/* These are required to fix an iOS6 bug with absolute positioned elements within a fixed positioned element: see http://igstudio.blogspot.co.uk/2012/09/positionfixed-in-ios-6.html */
    border: 1px solid #464646;
    outline: 1px solid rgba(0,0,0,0);	
}
	
	.modal .sitewide-navigation {
		z-index: 200;
	}

	[role=banner] .section-row {
		padding: 0;
	}

	.jump-menu-jumped {
		position: fixed;
		top: 8px;
		z-index: 9000;
		}
		
@media only screen and (min-width: 767px) {
	.jump-menu-jumped {
		top: 6px;
		}
		
}

	.jump-menu-inline {
		position: relative;
	}

	.navigation {
		position: relative;
		color: #898989;
		margin: 0;
	    overflow: auto;
	}

	.navigation ul {
		margin: 0;
		display: none;
	}

	.navigation .active ul {
		display: block;
		margin-left: -30px;
		margin-right: 0;
		padding-left: 30px;
		padding-right: 30px;
		background: #3a3a3a;
	}

	.navigation li {
		list-style: none;
		margin: 0;
		padding: 0 0 0 30px;
		line-height: 3;
		font-size: 15px;
		border-top: 1px solid #595959;
	}

	.navigation .sub-nav li:first-child {
		border-top: 0;
	}

	.navigation li strong {
		display: block;
		border-bottom: 0;
		background: transparent url(/assets/images/nav-arrow.png) 8px 17px no-repeat;
        margin-left: -30px;
        padding-left: 30px;
	}


	.navigation li.active strong {
		background: transparent url(/assets/images/nav-arrow-expand.png) 8px 17px no-repeat;
	}

	.navigation li li {
		background: none;
		padding: 0;
	}

			.navigation a {
				position: relative;
				display: block;
				text-decoration: none;
				color: #bcbcbc;
				}

			.navigation li,
			.header-options a,
			.navigation a:hover {
					color: #fff;
					}

					.header-options a {
						text-decoration: none;
						}


		.navigation a.takemehome { color: #fff; }

			.navigation li li {
				display: block;
				width: 100%;
				}

/* Most browsers support position fixed so this will not apply */

.no-positionfixed .sitewide-navigation {
	position: relative;
	top: 0;
}
/*
.header-options {
	padding: 0 10px;
	}

	.header-options p {
		margin: 0;
		line-height: 3;
		color: #bcbcbc;
		}

.language {
	position: absolute;
	bottom: 7px;
	right: 10px;
	padding: 0;
	background: #7e7e7e;
	width: 100px;

	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
    }

	.language.show-language-menu {
		padding: 0;
		}

	.language li {
		list-style: none;
		display: none;
		line-height: 30px;
		padding-left: 10px;
		padding-right: 10px;
		width: 100%;
		}

		.language.show-language-menu li {
			display: block;
			}

		.language .selected {
			display: block;
			background: #7e7e7e url(/assets/images/nav-picker.png) right center no-repeat;
			font-weight: bold;

			-webkit-border-radius: 5px;
			-moz-border-radius: 5px;
			border-radius: 5px;
			}

		.language.show-language-menu .selected,
		.language.show-language-menu:hover .selected {
			background: #7e7e7e url(/assets/images/nav-picker.png) right center no-repeat;
			}

		.language.show-language-menu li {
			background: #696969;
			}

			.language.show-language-menu li:first-child {
				border-top: 0;
				-webkit-border-top-left-radius: 5px;
				-webkit-border-top-right-radius: 5px;
				-moz-border-radius-topleft: 5px;
				-moz-border-radius-topright: 5px;
				border-top-left-radius: 5px;
				border-top-right-radius: 5px;
				}

			.language.show-language-menu li:last-child {
				border-top: 0;

				-webkit-border-top-left-radius: 5px;
				-webkit-border-top-right-radius: 5px;
				-moz-border-radius-topleft: 5px;
				-moz-border-radius-topright: 5px;
				border-top-left-radius: 0;
				border-top-right-radius: 0;

				-webkit-border-bottom-left-radius: 5px;
				-webkit-border-bottom-right-radius: 5px;
				-moz-border-radius-bottomleft: 5px;
				-moz-border-radius-bottomright: 5px;
				border-bottom-left-radius: 5px;
				border-bottom-right-radius: 5px;
				}

		.language.show-language-menu li:hover {
			background: #737373;
			}

		.language a {
			display: block;
			}
*/
.navigation-logo {
	display: none;
	}
	
.home-link a {
	font-weight: 700;
	color: #fff;
	}
	
@media only screen and (min-width: 767px) {

	.home-link {
		display: none;
		}
	
	.navigation-logo {
		display: block;
		position: absolute;
		bottom: 32px;
		left: 25px;
		max-width: 100px;
		z-index:50;
		}
	
	.navigation li.main-nav {
		float: left;
		display: inline;
		width: 119px;/*16.66%;*/
		padding: 0 2% 0 0;
	}

		.navigation li.main-nav:last-child {
			margin: 0;
			}

	.navigation {
		margin: 25px;
		overflow: hidden;
		}

	.navigation ul {
		display: block;
		}

	.navigation li {
		padding: 0;
		line-height: 3;
		font-size: 13px;
		line-height: 20px;
		border-top: 0;
		background: none;
		}

		.navigation a {
			display: inline;
			}

	    .navigation li strong,
		.navigation li.active strong {
			background: none;
		    color: #fff;
		    border: 0;
			}
/*
	.header-options {
		font-size: 13px;
		line-height: 30px;
		background: none;
		border-top: 0;
		padding: 0;
		}

	.header-options .account a:hover,
	.navigation a:hover {

		}


.navigation .active ul {
	background: none;
	}

	.navigation,
	.header-options {
		/ * padding: 0 25px; * /
		}

.language {
	bottom: 20px;
	}

	.account {
		position: absolute;
		right: 130px;
		bottom: 15px;
		}
*/
}

@media only screen and (min-width: 979px) {
	.navigation-logo {
		bottom: 32px;
		left: 0;
		max-width: 100px;
		}
		
	.navigation li,
	.header-options {
		font-size: 15px;
		}
	
	.navigation {
		margin: 25px 0;
		}
	
	.navigation li.main-nav {
		width: 160px;
		}
	
	/*.language {
		width: 120px;
		bottom: 24px;
		}
	
	.account {
		position: absolute;
		right: 150px;
		bottom: 14px;
		}*/
}

@media only screen and (min-width: 1199px) {
	.navigation {
		margin: 25px 0;
		}

	.navigation li.main-nav {
		width: 200px;
		}
}

.navigation li li {
	font-weight: normal;
	}

.nav-inactive,
.nav-active {
	position: absolute;
	bottom: -36px;
	right: 5px;
	width: 31px;
	height: 35px;

	background-image: url(/assets/images/global-nav-trigger.png);
	background-color: transparent;
	background-position: 0 0;
	background-repeat: no-repeat;
	background-size: 200%;
	-ms-behavior: url(/assets/css/backgroundsize.min.htc);
	text-indent: -9999em;
	z-index: 1200;
	}

.nav-active {
	background-image: url(/assets/images/global-nav-trigger.png);
	background-position: -31px 0;
	}
	
	.nav-inactive:hover {
		background-image: url(/assets/images/global-nav-trigger.png);
		background-position: 0 -35px;
		}

	.nav-active:hover {
		background-image: url(/assets/images/global-nav-trigger.png);
		background-position: -31px -35px;
		}

/* END : Sitewide Navigation */