/*

	HILLSONG CHURCH
	-----------------------
	Author 	: 	James Young

	CONTENTS
	--------
	- Global Reset
	- Global Rules
	- Debug Goodies
*/

/* START : Global Reset */
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,dialog,figure,footer,header,hgroup,menu,nav,section,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;vertical-align:baseline;background:transparent}article,aside,dialog,figure,footer,header,hgroup,nav,section{display:block}nav ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}a{margin:0;padding:0;border:0;vertical-align:baseline;background:transparent}ins,mark{background:#333;color:#fff;text-decoration:none}mark{padding:0 3px;}del{text-decoration:line-through}abbr[title],dfn[title]{border-bottom:1px dotted #000;cursor:help}table{border-collapse:collapse;border-spacing:0}hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}::-moz-selection,::-webkit-selection,::selection {text-shadow:none;background:#333;color:#fff;}.cf:before,.cf:after{content:"";display:table;}.cf:after{clear:both;}.cf{zoom:1;}
/* END : Global reset */

/* START : Global Rules */

* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	}

div [data-showOnDomReady="true"] {
	display: none;	
	}

html {
	color: #464646;
	background: #fff;
	font-size: 100%;
	}

html.touch, .touch body {
	overflow-x: hidden;
	/* Fixes this: http://stackoverflow.com/questions/4617872/white-space-showing-up-on-right-side-of-page-when-background-image-should-extend */
	}
	
input, textarea, select, submit {
	font-family: inherit;
	}

body {
	padding: 0; 
	margin: 0 auto;
	width: 100%;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 300;
	font-size: 15px;
	line-height: 20px;
	
	-webkit-text-size-adjust: none;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility; 
	}

@media only screen and (min-width: 767px) {
	body {
		line-height: 24px;
		}
}

body,
.wrapper {
	max-width: none;
	position: relative;
	}

.wrapper {
	/*margin-bottom: 40px;*/
	}
	
	.store .wrapper {
		margin-bottom: 0;
		}

h1, h2, h3, h4, h5, h6 {
	line-height: normal;
	}

	h2 {
		font-size: 36px;
		}

	.heavy, strong, b, .button {
		font-weight: bold;
		}

blockquote { }
	blockquote cite { }

p {
	margin: 0 0 21px 0;
	}

a {
	outline: 0; /* Set against recommendation, ideally would style outline or leave as default */
	color: #2c8eb7;
	border: 0;
	text-decoration: none;
	}

	a:hover {
		color: #005481;
		}

img,
a img {
	max-width: 100%;
	vertical-align: top;
	position: relative;
	}

figure { }
	figcaption { }

	.button {
		font-size: 13px;
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: .2em;
		border-width: 2px;
		border-style: solid;
		font-weight: 700;
		
		display: inline-block;
		text-decoration: none;
		text-align: center;
		cursor: pointer;
		position: relative;		
		background: transparent;
		
		color: #898989;
		border-color: #c4c4c4;
		
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;	
		
		-webkit-transition: 	all 0.4s ease 0s;	
		-moz-transition: 		all 0.4s ease 0s;
		-o-transition: 			all 0.4s ease 0s;	
		transition: 					all 0.4s ease 0s;	
		
		-webkit-appearance: none;		
		-moz-appearance: none;
		appearance: none;
		
		/*Coxy Removed... */
		/*
		height: 40px;
		line-height: 36px;
		padding: 0 15px;
		*/
		
		/* COXY'S CHANGES */
		padding-top: 10px;
		padding-bottom: 10px;
		padding-right: 15px;
		padding-left: 15px;
		line-height: 15px;	
				
		}

		.button:hover {
			border-color: #898989;
			color: #898989;
			}
			
		.button.small,
		.button.icon-replay,
		.button.icon-live {
			height: 30px;
			line-height: 26px;
			padding: 0 10px;
			}
			
		.button.icon-replay,
		.button.icon-live {
			padding-left: 30px;
			}
			
		.button.image {
			color: #fff;
			border-color: #999;
			}	
			
			.button.image:hover {
				border-color: #fff;
				color: #fff;
				}
			
		.button.highlight {
			background: #3E7DA7;
			color: #fff;
			border: 0;
			/*coxy removed... line-height: 40px;*/
				
			-moz-box-shadow: inset 0 -2px 0 #005481;
			-webkit-box-shadow: inset 0 -2px 0 #005481;
			box-shadow: inset 0 -2px 0 #005481;
			}
			
			.button.highlight:hover {
				background: #2C8EB7;
				color: #fff;
			}




.button.highlight.free { background: #39a985; -moz-box-shadow: inset 0 -2px 0 #178763; -webkit-box-shadow: inset 0 -2px 0 #178763; box-shadow: inset 0 -2px 0 #178763; }

.button.highlight.free:hover { background: #5BCBA7; }

.isInAModal .button.highlight.free { margin-top: 10px; }
@media only screen and (min-width: 579px) { .isInAModal .button.highlight.free { margin-right: 10px; margin-top: 0px; } }
	
/* START : Icon buttons */
.button.highlight.icon-facebook,
.button.highlight.icon-twitter {
	background-color: #2c4b95;
	text-transform: uppercase;

	-moz-box-shadow: inset 0 -2px 0 #1f3364;
	-webkit-box-shadow: inset 0 -2px 0 #1f3364;
	box-shadow: inset 0 -2px 0 #1f3364;
	}
	
	.button.highlight.icon-twitter {
		background-color:  #3dbcf3;
	
		-moz-box-shadow: inset 0 -2px 0 #2d99c7;
		-webkit-box-shadow: inset 0 -2px 0 #2d99c7;
		box-shadow: inset 0 -2px 0 #2d99c7;
		}

.button.highlight.icon-facebook:before,
.button.highlight.icon-twitter:before,
.button.highlight.icon-facebook.no-icon:before,
.button.highlight.icon-twitter.no-icon:before {
	position: absolute;
	left: 0;
	top: 0;
	width: 50px;
	height: 40px;
	content: " ";
	
	background-size: 31px 30px;
	background-image: url(/assets/images/icon-facebook.png);
	background-color: #657ab4;
	background-position: 10px center;
	background-repeat: no-repeat;
	
	-webkit-border-top-left-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-bottomleft: 3px;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;	

	-moz-box-shadow: inset 0 -2px 0 #4e5e8c;
	-webkit-box-shadow: inset 0 -2px 0 #4e5e8c;
	box-shadow: inset 0 -2px 0 #4e5e8c;
	}
	
	.button.highlight.icon-facebook.no-icon:before,
	.button.highlight.icon-twitter.no-icon:before {
		width: 0;
		}
	
	.button.highlight.icon-twitter:before,
	.button.highlight.icon-twitter.no-icon:before {
		background-image: url(/assets/images/icon-twitter.png);
		background-color:  #65cbf6;

		-moz-box-shadow: inset 0 -2px 0 #57aed2;
		-webkit-box-shadow: inset 0 -2px 0 #57aed2;
		box-shadow: inset 0 -2px 0 #57aed2;
		}	
		
.button.like:before,
.button.retweet:before,
.button.instagram-like:before,
.button.download:before {
	position: absolute;
	left: 9px;
	top: 4px;
	width: 20px;
	height: 17px;
	content: " ";	
	background-image: url(/assets/images/icon-facebook-like.png);
	background-position: 0 0;
	background-repeat: no-repeat;
	}

.button.retweet:before {
	background-image: url(/assets/images/icon-retweet.png);
	left: 8px;
	top: 7px;
	}
	
.button.instagram-like:before {
	background-image: url(/assets/images/icon-instagram-like.png);
	}
	
.button.download:before {
	background-image: url(/assets/images/icon-download.png);
	background-size: cover;
	width: 16px;
	height: 16px;
	top: 5px;
	}
	
	.button.like,
	.button.retweet,
	.button.download {
		padding-left: 35px;
		}

	.button.instagram-like {
		padding-left: 31px;
		}

@media only screen and (min-width: 767px) {
		.button.highlight.icon-facebook.no-icon:before,
		.button.highlight.icon-twitter.no-icon:before {
			width: 50px;
			}	
}

@media only screen and (min-width: 579px) {
		.external-login .button.highlight.icon-facebook.no-icon:before,
		.external-login .button.highlight.icon-twitter.no-icon:before {
			width: 50px;
			}	
}
			

/* END : Icon buttons */
				
/* START : Toggle buttons */
.featured-toggle .button.current,
.featured-toggle .button:hover {
	background: #c4c4c4;
	border-color: #c4c4c4;
	}
	
.button.featured-items {
		border-right: 0;
		margin-right: -4px;
		
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		border-radius: 0;
		
		-webkit-border-top-left-radius: 3px;
		-webkit-border-bottom-left-radius: 3px;
		-moz-border-radius-topleft: 3px;
		-moz-border-radius-bottomleft: 3px;
		border-top-left-radius: 3px;
		border-bottom-left-radius: 3px;
		}

	.button.all-items {
		border-left: 0;
		
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		border-radius: 0;
		
		-webkit-border-top-right-radius: 3px;
		-webkit-border-bottom-right-radius: 3px;
		-moz-border-radius-topright: 3px;
		-moz-border-radius-bottomright: 3px;
		border-top-right-radius: 3px;
		border-bottom-right-radius: 3px;
		}

/* END : Toggle buttons */				
				
.upper {
	text-transform: uppercase;
	}
/* END : Global Rules */


/* START : Global Styles */
.logo {
	z-index: 100;
	margin: 1.5em;
	float: left;
	}

.social {
	text-align: center;
	}

.social a {
	display: inline-block;
	opacity: .6;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease-out;
	}

	.social a span {
		position: relative;
		float: left;
		display: inline;
		margin: 0 5px;
		text-indent: -9999em;
		width: 30px;
		height: 30px;
		line-height: 40px;
		background-position: 0 0;
		background-repeat: no-repeat;
		background-size: cover;
		-ms-behavior: url(/assets/css/backgroundsize.min.htc);
		-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
		}
		
		
		
@media only screen and (max-width: 767px) {
	.ie8 .social a span {
		width: 31px;
		height: 31px;
		}
}

		.social a:hover,
		.social a:active {
			opacity: 1;
			}

			.ie8 .social a:hover span {
				-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
				}

@media only screen and (min-width: 767px) {
	.social a span {
		width: 40px;
		height: 40px;
		}
}


        /* Default colour?? */
		    .twitter span {
			    background-image: url(/assets/images/social-twitter.png);
			    }

				@media only screen and (max-width: 767px) {
					.ie8 .twitter span {
						background-image: url(/assets/images/social-twitter-small.png);
						}
				}

		    .facebook span {
			    background-image: url(/assets/images/social-facebook-transparent.png);
			    }

				@media only screen and (max-width: 767px) {
					.ie8 .facebook span {
						background-image: url(/assets/images/social-facebook-small.png);
						}
				}
				
		    .header-row .instagram span {
			    background-image: url(/assets/images/social-instagram-transparent.png);
			    }

				@media only screen and (max-width: 767px) {
					.ie8 .instagram span {
						background-image: url(/assets/images/social-instagram-small.png);
						}
				}
				
		    .youtube span {
			    background-image: url(/assets/images/social-youtube-transparent.png);
			    }

				@media only screen and (max-width: 767px) {
					.ie8 .youtube span {
						background-image: url(/assets/images/social-youtube-small.png);
						}
				}
        /* C Colour */
			.twitter.social-c span {
			    background-image: url(/assets/images/social-twitter-c.png);
				}

			.facebook.social-c span {
				background-image: url(/assets/images/social-facebook-c.png);
				}

			.instagram.social-c span {
				background-image: url(/assets/images/social-instagram-c.png);
				}

			.youtube.social-c span {
				background-image: url(/assets/images/social-youtube-c.png);
				}

		/* D Color */
			.twitter.social-d span {
			    background-image: url(/assets/images/social-twitter-d.png);
				}

			.facebook.social-d span {
				background-image: url(/assets/images/social-facebook-d.png);
				}

			.instagram.social-d span {
				background-image: url(/assets/images/social-instagram-d.png);
				}

			.youtube.social-d span {
				background-image: url(/assets/images/social-youtube-d.png);
				}

/* END : Global Styles */


/* START : Shared Components */
.tooltip {
	position: relative;
	background: #d8d8d8;
	padding: 10px;
	width: 110%;
	margin: 0 -5% 20px;

	display: none;

	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	}

.tooltip:after {
	top: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	}

.tooltip:after {
	border-color: rgba(216, 216, 216, 0);
	border-top-color: #d8d8d8;
	border-width: 10px;
	left: 50%;
	margin-left: -10px;
	}



.pagination {
	display: inline;
	float: left;
	width: 25px;
	text-align: center;
	margin: 22px 0 0 0;
	}

	.pagination a {
		width: 13px;
		height: 27px;

		text-indent: -9999em;
		background-image: url(/assets/images/pagination-previous.png);
		background-repeat: no-repeat;
		background-position: 0 0;
		background-size: contain;
		display: inline-block;
		opacity: .6;

		/*background-color: green;*/
		}

		.ie8 .pagination a {
			-ms-behavior: url(/assets/css/backgroundsize.min.htc);
			}

		.pagination a:hover {
			opacity: 1;
			}

		.pagination.next a {
			background-image: url(/assets/images/pagination-next.png);
			}


@media only screen and (min-width: 767px) {
	.pagination {
		width: 44px;
		height: 36px;
		}
	
		.pagination a {
			width: 18px;
			height: 36px;
			}
}

@media only screen and (min-width: 979px) {
	.pagination {
		width: 40px;
		}
}

@media only screen and (min-width: 1199px) {
	.pagination {
		width: 50px;
		}
}

.paging-controls p,
.paging-position {
	clear: both;
	text-align: center;
	display: block;
	width: 280px;
	margin: 0;
}

.paging-position-wrap {
	width: 100%;
	text-align: center;
	min-height: 40px;
	clear: both;
}
	
@media only screen and (min-width: 767px) {
		.video-carousel-item .paging-position-wrap {
			display: none;		
			}
}
/*@media only screen and (min-width: 767px) {
	.paging-position-wrap {
		display: none; 
		}
}*/

.paging-position {
	overflow: hidden;
	display: inline-block;
	width: auto;
	height: 9px;
	}

	.paging-position li {
		list-style: none;
		float: left;
		display: inline;
		margin: 0 4px;
		}

	.paging-position a {
		/*text-indent: -9999em;*/
		float: left;
		width: 8px;
		height: 8px;
		border-radius: 50%;
		background: #fff;
		opacity: .4;
		}

		.paging-position .paging-current,
		.paging-position li.selected a,
		.paging-position li.activeSlide a,
		.paging-position a:hover {
			opacity: 1;
			}

/* - START : Mini promo panels */
.promotions {
	position: absolute;
	top: 4px;
	left: 10px;
	}

.promotions-wrap {
	float: left;
	width: 259px;
	height: 35px;
	margin: 0;
	overflow: hidden;
	}

.promotions-slider {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 1px 3px #999;
	-moz-box-shadow: 0 1px 3px #999;
	box-shadow: 0 1px 3px #999;
	}

	.ie8 .promotions-slider {
		width: 276px !important;
		}
		
		.ie8 .promotions-slider > div {
			width: 100%;
			}
		
		.ie8 .promotions-detail  {
			width: 170px !important;
			}

	.promotions-wrap a {
		text-decoration: none;
		}

	.promotions-img,
	.promotions-detail {
		float: left;
		display: inline;
		width: 35px;
		height: 35px;
		}

		.promotions-img img {
			-webkit-border-top-left-radius: 5px;
			-webkit-border-bottom-left-radius: 5px;
			-moz-border-radius-topleft: 5px;
			-moz-border-radius-bottomleft: 5px;
			border-top-left-radius: 5px;
			border-bottom-left-radius: 5px;
			}

	.promotions-detail {
		float: right;
		width: 224px;
		padding: 3px 5px;
		background: #fff;

		-webkit-border-top-right-radius: 5px;
		-webkit-border-bottom-right-radius: 5px;
		-moz-border-radius-topright: 5px;
		-moz-border-radius-bottomright: 5px;
		border-top-right-radius: 5px;
		border-bottom-right-radius: 5px;
		}

		.promotions-wrap a:hover .promotions-detail {
			background: #ebebeb;
			}

.promotions-detail p {
	margin: 0;
	}

	.promotions-title {
		font-size: 13px;
		line-height: 15px;
		color: #464646;
		}

	.promotions-content {
		font-size: 13px;
		line-height: 15px;
		color: #464646;
		}

	.promotions-wrap .paging-position-wrap {
		/*display: none;*/
		}

@media only screen and (min-width: 767px) {
	.promotions {
		top: 6px;
		/*left: 30px;*/
		left: 27px;
		width: 275px;
		}
	
		.promotions-wrap {
			/*width: 275px;*/
			width: 281px;
			padding-left: 3px;
			height: 95px;
			height: auto;
			}
         
        /* 
            hide all promo slides initially except the first one, done to get around the visible 3px 
            of the next slide on initial load, search Hillsong.Page.js for PromoRightBorderFix 
        */
	    .promotions-wrap div[data-carousel-item="true"] {
	        visibility: hidden;
	        }
        .promotions-wrap div[data-carousel-item="true"]:first-child {
            /* Show the first child though until the JS loads */
            visibility: visible;
            }
	    
	.promotions-img,
	.promotions-detail {
		width: 95px;
		height: 95px;
		}
	.promotions-detail {
		width: 181px;
		padding: 10px;
		}
	
	.promotions-title {
		font-size: 15px;
		line-height: 20px;
		}
	
	.promotions-content {
		font-size: 13px;
		line-height: 20px;
		display: block;
		}
	
	.promotions-wrap .paging-position-wrap {
		display: block;
		}
}
/* - END : Mini promo panels */

/* - START: Paralax gradients - Paralax row gradients, allows for easier reading of the text on paralax/fixed background content */
.parallaxGradient {
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzQ1NDg0ZCIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQwJSIgc3RvcC1jb2xvcj0iIzI5MmIyZSIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC42Ii8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
background: -moz-linear-gradient(top, rgba(69,72,77,0) 0%, rgba(41,43,46,0) 40%, rgba(0,0,0,0.4) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(69,72,77,0)), color-stop(40%,rgba(41,43,46,0)), color-stop(100%,rgba(0,0,0,0.4))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(69,72,77,0) 0%,rgba(41,43,46,0) 40%,rgba(0,0,0,0.4) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(69,72,77,0) 0%,rgba(41,43,46,0) 40%,rgba(0,0,0,0.4) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(69,72,77,0) 0%,rgba(41,43,46,0) 40%,rgba(0,0,0,0.4) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(69,72,77,0) 0%,rgba(41,43,46,0) 40%,rgba(0,0,0,0.4) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0045484d', endColorstr='#99000000',GradientType=0 ); /* IE6-8 */
    height: 100%;
}

.parallaxGradient,
.parallaxGradient div.section-row {
    height: 100%;
    
}

/* - END: Paralax gradients */

/* END : Shared Components */




/* START : Scroll indicator for headers */

.scroll-indicator,
.no-touch .scroll-indicator {
	display: none;
	}

@media only screen and (min-width: 979px) {
	.touch .scroll-indicator {
		display: block;
		width: 80%;
		left: 10%;
		position: absolute;
		bottom: 88px;
		height: 40px;
		text-align: center;
		}
		
		.touch .scroll-indicator span {
			width: 20px;
			height: 40px;
			display: inline-block;
			margin: 0 auto;
			background: url(/assets/images/scroll_arrows_white.gif) 0 0 no-repeat;
			background-size: contain;
			}
}


/* END : Scroll indicator for headers */


/* END : Retina-specific stuff here */
@media  (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
	.scroll-indicator span {
			background: url(/assets/images/scroll_arrows_white@2x.gif) 0 0 no-repeat;
			}
			
			.twitter span {
			    background-image: url(/assets/images/social-twitter-transparent@2x.png);
			    }

		    .facebook span {
			    background-image: url(/assets/images/social-facebook-transparent@2x.png);
			    }

		    .instagram span {
			    background-image: url(/assets/images/social-instagram-transparent@2x.png);
			    }

		    .youtube span {
			    background-image: url(/assets/images/social-youtube-transparent@2x.png);
			    }

            /* C colour */
		.twitter.social-c span {
    				background-image: url(/assets/images/social-twitter-c@2x.png);
			}

		.facebook.social-c span {
    				background-image: url(/assets/images/social-facebook-c@2x.png);
			}

		.instagram.social-c span {
    				background-image: url(/assets/images/social-instagram-c@2x.png);
			}

		.youtube.social-c span {
    				background-image: url(/assets/images/social-youtube-c@2x.png);
			}


		/* D Colour */
		.facebook.social-d span {
    				background-image: url(/assets/images/social-facebook-d@2x.png);
			}

		.instagram.social-d span {
    				background-image: url(/assets/images/social-instagram-d@2x.png);
			}

		.youtube.social-d span {
    				background-image: url(/assets/images/social-youtube-d@2x.png);
			}

		.twitter.social-d span {
    				background-image: url(/assets/images/social-twitter-d@2x.png);
			}

}
/* END : Retina-specific stuff here */

/* START: Debug goodies, inhouse debug goodies, these should always be included */

.debug-variables ul {
    display: none;
    background-color: #FA93B6;
    padding-left: 50px;
}   
.debug-variables
{
    margin-top: 100px;
    padding-top: 100px;
    padding-left: 20px;
    padding-right: 20px;
    
}

.debug-variables h1 
{
    cursor: help;
    border: solid #FA93B6 medium;
    text-align: center;
}

/* END : Debug goodies */


/*
//========================================================
//
// COXY'S CORE
//
//========================================================
*/











/*
//====================================================================
//
// MOBILE / SMALL SCREEN (0px - 480px)
//
//====================================================================
*/

/* Responsive Grid System -------------------- */
/*
.grid { clear: both; padding: 0px; margin: 0px; }
.col { display: block; float:left; margin: 1% 0 0% 1.6%; }
.row:before, .row:after { content:""; display:table; }
.row:after { clear:both; }
*/
/* stack columns on mobile */
/*
.colspan_2_of_2,
.colspan_1_of_2,
.colspan_3_of_3,
.colspan_2_of_3,
.colspan_1_of_3,
.colspan_4_of_4,
.colspan_3_of_4,
.colspan_2_of_4,
.colspan_1_of_4,
.colspan_5_of_5,
.colspan_4_of_5,
.colspan_3_of_5,
.colspan_2_of_5,
.colspan_1_of_5,
.colspan_6_of_6,
.colspan_5_of_6,
.colspan_4_of_6,
.colspan_3_of_6,
.colspan_2_of_6,
.colspan_1_of_6 {width: 100%; margin-left: 0; }
*/
/* Shadow */
/*
.shadow {
	-webkit-box-shadow: 0 0 3px #666;
	-moz-box-shadow: 0 0 3px #666;
	box-shadow: 0 0 3px #666;
}
*/
/* Show Hides */
/*
.hideonmobileshowontabletinline { display: none !important; }
.hideonmobileshowontabletblock { display: none !important; }
.hideonmobileshowondefaultinline { display: none !important; }
.hideonmobileshowondefaultblock { display: none !important; }

.hideontabletshowonmobileinline { display: inline !important; }
.hideontabletshowonmobileblock { display: block !important; }
*/

/*
//====================================================================
//
// TABLET (Bigger than 767px )
//
//====================================================================
*/
@media only screen and (min-width: 767px) {
	
	.button.highlight.free { margin-right: 10px; }
	
	/* Repsonsive Grid System ----------------- */
	/*.grid { clear: both; padding: 0px; margin: 0px; }
	.col { display: block; float:left; margin: 1% 0 0% 1.6%; }

	.col:first-child { margin-left: 0; }
	
	.colspan_2_of_2 { width: 100%; }
	.colspan_1_of_2 { width: 49.2%; }
	
	.colspan_3_of_3 { width: 100%; }
	.colspan_2_of_3 { width: 66.1%; }
	.colspan_1_of_3 { width: 32.2%; }
	
	.colspan_4_of_4 { width: 100%; }
	.colspan_3_of_4 { width: 74.6%; }
	.colspan_2_of_4 { width: 49.2%; }
	.colspan_1_of_4 { width: 21.8%; }
	
	.colspan_5_of_5 { width: 100%; }
	.colspan_4_of_5 { width: 79.68%; }
	.colspan_3_of_5 { width: 59.36%; }
	.colspan_2_of_5 { width: 39.04%; }
	.colspan_1_of_5 { width: 18.72%; }
	
	
	.colspan_6_of_6 { width: 100%; }
	.colspan_5_of_6 { width: 83.06%; }
	.colspan_4_of_6 { width: 66.13%; }
	.colspan_3_of_6 { width: 49.2%; }
	.colspan_2_of_6 { width: 32.26%; }
	.colspan_1_of_6 { width: 15.33%; }
	
	.row:before, .row:after { content:""; display:table; }
	.row:after { clear:both; }*/
	/* END: Responsive Grid System ----------------- */
	
	
	
	/* Show Hides */
	/*
	.hideonmobileshowontabletinline { display: inline !important; }
	.hideonmobileshowontabletblock { display: block !important; }
	
	.hideontabletshowonmobileinline { display: none !important; }
	.hideontabletshowonmobileblock { display: none !important; }
	*/
}



		

/*
//====================================================================
//
// DEFAULT (Bigger than 979px )
//
//====================================================================
*/
@media only screen and (min-width: 979px) {
	
	/* Show Hide */
	/*.hideonmobileshowondefaultinline { display: inline !important; }
	.hideonmobileshowondefaultblock { display: block !important; }*/
}

