/* START : Checkout Screens */

/* -- START : Basket Globals */
.basket-stage {
	display: block;
	position: relative;
	overflow: hidden;
	width: 210px;
	margin: 0 auto 30px;
}
	
@media only screen and (min-width: 767px) {
	.basket-stage {
		width: 380px;
		margin: 0 auto 40px;
		}
}
	
	.basket-stage li {
		display: inline;
		float: left;
		list-style: none;
		text-transform: uppercase;
		font-size: 13px;
		font-weight: 700;
		color: #ccc;
		height: 60px;
		padding-top: 40px;
		width: 90px;
		position: relative;
		background-image: url(/assets/images/basket-stage-sprite.png);
		background-position: 0 -97px;
		background-repeat: repeat-x;
		}

@media only screen and (min-width: 767px) {
	.basket-stage li {
		width: 175px;
		}
}
		
			.basket-stage li.basket-stage-pay {
				text-align: center;
				width: 30px;
				}
		
			
		.basket-stage li.completed,
		.basket-stage li.current {
			background-image: url(/assets/images/basket-stage-sprite.png);
			background-position: 0 -163px;
			}
		
		.basket-stage li:before {
			float: left;
			width: 30px;
			height: 30px;
			content: " ";
			top: 0;
			left: 0;
			position: absolute;
			/*border-radius: 50%;
			border-width: 3px;
			border-style: solid;*/
			background-image: url(/assets/images/basket-stage-sprite.png);
			background-position: 0 -30px;
			background-repeat: no-repeat;
			}
			
	.basket-stage-done {
		text-align: right;
		}
			
		.basket-stage li.basket-stage-done:before {
			float: right;
			left: auto;
			right: 0;
			}	
			
		.basket-stage li.current:before {
			background-position: 0 0;
			}
		
		.basket-stage li.completed:before {
			background-position: 0 -60px;
			}
		
		.basket-stage .current,
		.basket-stage .completed {
			color: #464646;
			}
	
/* -- END : Basket Globals */

/* -- START : Basket Page */
.shopping-basket {
	border-collapse: collapse;
	display: table;
	position: relative;
	width: 100%;
	padding: 0;
	margin: 0;
	text-align: left;
	}
	
	.align-center {
		text-align: center;
		}
	
	.align-right {
		text-align: right;
		}
	
	.shopping-basket th,
	.shopping-basket tr,
	.shopping-basket td {
		vertical-align: middle;
		}
		
@media only screen and (min-width: 579px) {
	.shopping-basket th,
	.shopping-basket tr,
	.shopping-basket td {
		border-bottom: 1px solid #f0f0f0;
		}

}

	.shopping-basket th,
	.shopping-basket td {
		display: table-cell;
		}

		
	.shopping-basket th {
		font-size: 13px;
		text-transform: uppercase;
		letter-spacing: .2em;
		color: #898989;
		padding: 5px 0;
		}		
		
@media only screen and (min-width: 767px) {
	.shopping-basket th {
		padding: 10px 0;
		}
}

@media only screen and (min-width: 579px) {
	.displaying-in-modal .shopping-basket th {
		padding: 10px 0;
		}
}

	.shopping-basket td {
		border-top: 1px solid #f0f0f0;
		padding: 10px 0;
		}
		

@media only screen and (max-width: 579px) {
	.big-screen-table {
		display: none;
		}
}
		
@media only screen and (min-width: 579px) {
	.thank-you.shopping-basket .big-screen td {
		border: 0;
		}
	
	.thank-you .shipping-confirmation .address-item {
		margin: 0;
		} 
}

.shopping-basket th.header-items,
.shopping-basket td.product-items {
	float: left;
	width: 210px;
	}

.shopping-basket th.header-quantity,
.shopping-basket td.product-quantity {
	float: none;
	width: 90px;
	}
	
@media only screen and (min-width: 767px) {
	.shopping-basket th.header-items,
	.shopping-basket td.product-items,
	.shopping-basket th.header-quantity,
	.shopping-basket td.product-quantity {
		float: none;
		width: auto;
		}
		
	.shopping-basket th.header-items,
	.shopping-basket td.product-items {
		width: 270px;
		}
		
	.shopping-basket th.header-price,
	.shopping-basket td.product-unit-price {
		width: 110px;
		}
		
	.shopping-basket th.header-quantity, 
	.shopping-basket td.product-quantity {
		width: 90px;
		}
		
	.shopping-basket th.header-total,
	.shopping-basket td.product-total-price {
		width: 110px;
		}
}	

@media only screen and (min-width: 579px) {
	.displaying-in-modal .shopping-basket th.header-items,
	.displaying-in-modal .shopping-basket td.product-items,
	.displaying-in-modal .shopping-basket th.header-quantity,
	.displaying-in-modal .shopping-basket td.product-quantity {
		float: none;
		width: auto;
		}
		
	.displaying-in-modal .shopping-basket th.header-items,
	.displaying-in-modal .shopping-basket td.product-items {
		width: 235px;
		}
		
	.displaying-in-modal .shopping-basket th.header-price,
	.displaying-in-modal .shopping-basket td.product-unit-price {
		width: 110px;
		}
		
	.displaying-in-modal .shopping-basket th.header-quantity, 
	.displaying-in-modal .shopping-basket td.product-quantity {
		width: 90px;
		}
		
	.displaying-in-modal .shopping-basket th.header-total,
	.displaying-in-modal .shopping-basket td.product-total-price {
		width: 143px;
		}
}	



/* Hide These Columns on Mobile */
.shopping-basket th.header-price,
.shopping-basket th.header-total,
.shopping-basket td.product-unit-price,
.shopping-basket td.product-total-price,
.shopping-basket td.total-spacer,
/* Coxy */
.shopping-basket td.product-quantity,
.shopping-basket th.header-quantity {
	display: none;
	}
	
@media only screen and (max-width: 579px) {
.shopping-basket td.product-quantity,
.shopping-basket th.header-quantity {
	display: table-cell !important;
	}	
}	
	
@media only screen and (min-width: 767px) {
	.shopping-basket th.header-price,
	.shopping-basket th.header-total,
	.shopping-basket td.product-unit-price,
	.shopping-basket td.product-total-price,
	.shopping-basket td.total-spacer,
	/* Coxy */
	.shopping-basket td.product-quantity,
	.shopping-basket th.header-quantity
	{
			display: table-cell;
			}
}

@media only screen and (min-width: 579px) {
	.displaying-in-modal .shopping-basket th.header-price,
	.displaying-in-modal .shopping-basket th.header-total,
	.displaying-in-modal .shopping-basket td.product-unit-price,
	.displaying-in-modal .shopping-basket td.product-total-price,
	.displaying-in-modal .shopping-basket td.total-spacer,
	/* Coxy */
	.displaying-in-modal .shopping-basket td.product-quantity,
	.displaying-in-modal .shopping-basket th.header-quantity {
			display: table-cell;
			}

	.displaying-in-modal .shopping-basket th.header-total,
	.displaying-in-modal .shopping-basket.thank-you td.product-total-price {
		line-height: 40px;
		width: auto;
		}
		
		.displaying-in-modal .shopping-basket th.header-total {
			line-height: normal;
			}
		
		.displaying-in-modal .shopping-basket.thank-you td.product-total-price .button {
			float: left;
			clear: none;
			display: inline;
			margin-left: 65px;
			}
			
		.shopping-basket.thank-you .download-info {
			letter-spacing: normal;
			text-transform: none;
			margin: 0;
			}

	.big-screen.basket-downloads {
		display: inline-block !important;
		float: left;
		width: 290px;
		margin: 0 10px 0 0;
		text-align: left;
		}
		
		.big-screen.basket-downloads p {
			margin: 0;
			padding: 8px 0 0;
			line-height: 24px;
			}
		
		.big-screen.basket-downloads a {
			line-height: 24px;
			margin: 0;
			display: block;
			}
			
	.displaying-in-modal .thank-you.shopping-basket td.product-items {
		vertical-align: top;
		}
}


.product-items-image {
	float: left;
	display: inline;
	width: 55px;
	height: auto;
	margin: 0 10px 0 0;
	}
	
@media only screen and (min-width: 579px) {
.product-items-image {
	width: 70px;
	height: auto;
	}
}
	
.product-items p {
	margin: 0;
	line-height: 20px;
	}
	
.product-items-name {
	font-weight: 700;
	}

.product-items-category {
	
	}
	
.product-items-type {
	font-size: 13px;
	color: #898989;
	}
	
.basket-summary .product-quantity div {
	border: 2px solid #c4c4c4;
	height: 30px;
	line-height: 26px;
	padding: 0;
	
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	}
	
	.basket-summary .product-quantity a,
	.basket-summary .product-quantity span {
		padding: 0;
		line-height: 26px;
		width: 28px;
		float: left;
		display: inline;
		position: relative;
		background: #fff;
		color: #898989;
		font-weight: 700;
		}
		
		.basket-summary .product-quantity-less {
			border-right: 1px solid #c4c4c4;
			}
		
		.basket-summary .product-quantity-more {
			border-left: 1px solid #c4c4c4;
			}
		
		.basket-summary .product-quantity span {
			background: #c4c4c4;
			color: #fff;
			width: 30px;
			}
			
.total-footer td {
	border-bottom: 1px solid #f0f0f0;
	}
	
@media only screen and (max-width: 579px) {
	.total-footer.payment-page .total-label {
		float: left;
		width: 210px;
		border-bottom: 0;
		}
	
	.total-footer.payment-page.confirmation .total-label,
	.total-footer.payment-page.confirmation .total-price {
		border: 0;
		}	
		
	.total-footer.payment-page.confirmation {
		border: 3px solid #f0f0f0;
		border-left-width: 0;
		border-right-width: 0;
		}
}
	
.overlay-content.checkout .button {
	margin: 20px 0 0;
	display: block;
	}	
	
.displaying-in-modal .overlay-content.checkout .button.continue-shopping {
		margin-top: 10px;
		}
	
@media only screen and (min-width: 767px) {
	.overlay-content.checkout .button {
		margin: 0;
		display: inline;
		float: right;
		clear: right;
		}	
}

@media only screen and (min-width: 579px) {
	.displaying-in-modal .overlay-content.checkout .button {
		margin: 0;
		display: inline;
		float: right;
		clear: right;
		}	

	.displaying-in-modal .overlay-content.checkout .button.continue-shopping {
		margin-top: -40px;
		float: left;	
		}
}
/* -- END : Basket Page */


/* -- START : Basket Login Page */

.account-access p {
	text-align: center;
	margin: 0 auto 25px;
	}

.align-buttons {
	width: 300px;
	margin: 0 auto;
	overflow: hidden;
	}
	
	.overlay-content.checkout .align-buttons .button {
		display: inline;
		float: left;
		clear: none;
		margin: 0;
		}
		
		.overlay-content.checkout .align-buttons .button.highlight {
			float: right;
			width: 105px;
			}
/* -- END : Basket Login Page */




/* -- START : Shipping Page */

@media only screen and (min-width: 767px) {
.checkout.shipping h1,
.checkout.shipping h2,
.shipping .address-book,
.shipping .shipping-address {
	width: 380px;
	margin: 0 auto;
	}
	
	.shipping .shipping-address {
		margin: 27px auto 0;
		}
}
		
.checkout h2 {
	font-size: 21px;
	line-height: 21px;
	margin: 0 0 30px;
	}

.shipping .address-book {
	margin: 0 auto 25px;
	}
	
@media only screen and (min-width: 767px) {
	.shipping .address-book {
		margin: 20px auto 70px;
		}
}

	.address-item {
		float: left;
		display: inline;
		width: 140px;
		margin: 0 10px 0 0;
		}
		
@media only screen and (min-width: 767px) {
	.address-item {
		width: 180px;
		}
		
		.address-item:nth-child(even) {
			margin: 0 0 0 10px;
			}
}
	
	.address-item p {
		margin: 0;
		}
	
	.overlay-content.checkout .address-item .button {
		padding: 0 12px;
		float: none;
		clear:none;
		display: block;
		letter-spacing: .1em;
		}
		
		.address-item .address-book-name {
			margin: 10px 0 0;
			}
			
		.address-item .address-book-action {
			font-weight: 700;
			margin: 10px 10px 0 0;
			display: inline-block;
			}
		
.shipping-address {
	display: block;
	clear: both;
	}
	
	.shipping-address div {
		display: block;
		clear: both;
		}
		
		.shipping-address label {
			padding-bottom: 5px;
			display: inline-block;
			}
			
@media only screen and (min-width: 767px) {
	.shipping-address label {
		float: left;
		display: inline;
		width: 100px;
		text-align: left;
		}
		
		.delivery-country p {
			padding-top: 6px;
			}
}
	
	.shipping-address .address-2 label {
		display: none;
		}	
		
@media only screen and (min-width: 767px) {
	.shipping-address .address-2 label {
		display: inline;
		}	
}
		
		.shipping-address .address-1 input {
			margin: 0 0 10px;
			}
			
	.shipping-address .address-state,
	.shipping-address .address-postcode {
		width: 165px;
		float: left;
		display: inline;
		clear: none;
		}

		.shipping-address .address-state {
			width: 115px;
			float: right;
			}
			
@media only screen and (min-width: 767px) {
	.shipping-address .address-state,
	.shipping-address .address-postcode {
		width: 100%;
		float: none;
		clear: both;
		display: block;
		}
		
		.shipping-address .address-postcode input {
			width: 95px;
			}

.overlay-content.shipping .shipping-address .button {
	width: 280px;
	margin: 20px 0 0;
	}
}

/* -- END : Shipping Page */


/* -- START : Confirmation & Payment Page */
.checkout .shopping-basket {
	margin: 0 0 30px;
	}
	
	.total-footer.confirmation {
		/*border: 2px solid #f0f0f0;
		border-left: 0;
		border-right: 0;*/
		border: 0;
		}
		
		.payment .total-footer.confirmation td,
		.thank-you .total-footer.confirmation td {
			border: 3px solid #f0f0f0;
			border-left: 0;
			border-right: 0;
			border-collapse: separate;
			}
		
		.total-footer.confirmation td.total-spacer {
			border: 0;
			}
	
.payment-info {
	background: #dcf0fc;
	margin: 0 -10px -10px;
	padding: 30px 10px;
	}
	
	.overlay-content.payment input,
	.overlay-content.payment select {
		background-color: #fff;
		}
	
	.overlay-content .payment-info .button {
		margin: 0;
		letter-spacing: .1em;		
		}
		
.shopping-basket th.header-price,
.shopping-basket th.header-quantity,
.shopping-basket th.header-total,
.shopping-basket td.product-price,
.shopping-basket td.product-quantity,
.shopping-basket td.product-total-price,
.shopping-basket td.total-spacer {
	display: none;
	}
	
	
@media only screen and (max-width: 578px) {

	.shopping-basket.thank-you th.header-total,
	.shopping-basket.thank-you td.product-total-price {
		display: block;
		float: none;
		}
		
	.shopping-basket.thank-you th.header-items, 
	/*.shopping-basket th.header-quantity,*/
	.shopping-basket.thank-you td.product-items {
		display: table-cell;
		float: none;
		}	
		
	.shopping-basket.thank-you td.total-label {
		width: 210px;
		}
	
	.shopping-basket.thank-you td.total-price {
		width: 90px;
		}	
}
	
/*.shopping-basket td.product-items {
	width: 247px;
	}	*/
	
/*.shopping-basket th.header-quantity*/
/*,
.shopping-basket td.product-total-price*/ 
/*{
	display: table-cell;
	}
*/
	.shopping-basket td.product-total-price {
		font-weight: 700;
		}
	
	
.product-quantity span,
.product-quantity div {
	color: #808080;
	width: auto;
	height: auto;
	padding: 3px 0 0;
	background: none;
	border: 0;
	font-weight: 400;
	}
	
	

	
@media only screen and (min-width: 767px) {
	.payment-info {
		background: #dcf0fc;
		margin: 0 -50px -50px;
		padding: 40px 50px;
		
		-webkit-border-bottom-right-radius: 5px;
		-webkit-border-bottom-left-radius: 5px;
		-moz-border-radius-bottomright: 5px;
		-moz-border-radius-bottomleft: 5px;
		border-bottom-right-radius: 5px;
		border-bottom-left-radius: 5px;
		}
		
	.shopping-basket th.header-price,
	.shopping-basket th.header-quantity,
	.shopping-basket td.product-price,
	.shopping-basket td.product-quantity,
	.shopping-basket td.total-spacer {
			display: table-cell;
			}
}
/* -- END : Confirmation & Payment Page */




/* -- START : Completed Page */
.overlay-content.confirmation .product-download .button {
	margin: 0;
	}
	
.shopping-basket .header-download {
	text-transform: none;
	text-align: right;
	letter-spacing: normal;
	}

.order-reference {
	margin: 0 0 10px;
	}
	

.order-reference p {
	letter-spacing: .2em; 
	text-transform: uppercase;
	color: #898989;
	font-size: 13px;
	line-height: 16px;
	margin: 0;
	font-weight: 700;
	}
	
@media only screen and (min-width: 579px) {
	.order-reference h1 {
		float: left;
		display: inline;
		width: 50%;
		}

	.order-reference div {
		float: right;
		display: inline;
		width: 50%;
		margin-top: 5px;
		text-align: right;
		}
				
	
}
	
	
.shopping-basket th.header-download,
.shopping-basket td.product-download {
	display: none;
	}
	
@media only screen and (min-width: 767px) {
	.shopping-basket th.header-download,
	.shopping-basket td.product-download {
		display: table-cell;
		}
}

.download-info {
	font-size: 13px;
	line-height: 18px;
	font-weight: 700;
	color: #ed145b;
	margin: 21px 0;
	}

	.no-touch .download-info {
		display: none;
		}


.shipping-confirmation {
	
	}
	
	.shipping-confirmation .address-item {
		float: none;
		width: auto;
		display: block;
		margin: 0 0 20px;
		}
		
.shipping-confirmation .address-item .address-book-name,
.tracking-reference, 
.shipping-reference {
	margin: 0;
	}
/* -- END : Completed Page */
/* END : Checkout Screens */
